<form #form="ngForm" [formGroup]="userForm" class="form">
  <div class="card mt-3">
    <div class="card-header">
      General information
    </div>
    <div class="card-body edit-form-card">
      <!-- Username -->
      <div class="form-group">
        <label for="username">Username</label>
        <input id="username" type="text" formControlName="username" class="form-control"
               [ngClass]="{ 'is-invalid': userForm.controls.username.invalid }">
        <div *ngIf="userForm.controls.username.invalid" class="text-danger">
          <small *ngIf="userForm.controls.username.errors">Username is invalid.</small>
        </div>
      </div>

      <!-- E-Mail -->
      <div class="form-group">
        <label for="email">E-Mail<span [hidden]="!user$?.emailVerified">&nbsp;<i class="bi bi-patch-check-fill text-success"></i></span></label>
        <input id="email" type="text" formControlName="email" class="form-control"
               [ngClass]="{ 'is-invalid': userForm.controls.email.invalid }">
        <div *ngIf="userForm.controls.email.invalid" class="text-danger">
          <small *ngIf="userForm.controls.email.errors">E-Mail is invalid.</small>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col text-end">
          <button class="btn btn-success" (click)="onSaveClicked()" [disabled]="isSaving$ || !userForm.valid">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" [hidden]="!isSaving$"></span>
            <span class="sr-only">{{ isSaving$ ? "Saving..." : "Save" }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<form #notificationForm="ngForm" [formGroup]="notificationsForm" class="form">
  <div class="card mt-3">
    <div class="card-header">
      Notification settings
    </div>
    <div class="card-body edit-form-card">
      <!-- Concert reminders -->
      <div class="form-check form-switch">
        <input class="form-check-input form-control" type="checkbox" id="receiveConcertReminders" [checked]="notificationsForm.controls.receiveConcertReminders.value" formControlName="receiveConcertReminders">
        <label class="form-check-label" for="receiveConcertReminders">Receive reminders before the concert starts</label>
      </div>

      <div class="form-check form-switch ms-4">
        <input class="form-check-input form-control" type="checkbox" id="receiveConcertRemindersAny" [checked]="notificationsForm.controls.receiveConcertRemindersAny.value" formControlName="receiveConcertRemindersAny">
        <label class="form-check-label" for="receiveConcertRemindersAny">Any concert</label>
      </div>
      <div class="form-check form-switch ms-4">
        <input class="form-check-input form-control" type="checkbox" id="receiveConcertRemindersBookmarked" [checked]="notificationsForm.controls.receiveConcertRemindersBookmarked.value" formControlName="receiveConcertRemindersBookmarked">
        <label class="form-check-label" for="receiveConcertRemindersBookmarked">Bookmarked concerts</label>
      </div>
      <div class="form-check form-switch ms-4">
        <input class="form-check-input form-control" type="checkbox" id="receiveConcertRemindersAttending" [checked]="notificationsForm.controls.receiveConcertRemindersAttending.value" formControlName="receiveConcertRemindersAttending">
        <label class="form-check-label" for="receiveConcertRemindersAttending">Concerts you attend</label>
      </div>

      <!-- Main Stage Time updates -->
      <div class="form-check form-switch">
        <input class="form-check-input form-control" type="checkbox" id="receiveMainStageTimeUpdates" [checked]="notificationsForm.controls.receiveMainStageTimeUpdates.value" formControlName="receiveMainStageTimeUpdates">
        <label class="form-check-label" for="receiveMainStageTimeUpdates">Updates of Linkin Park's stage time</label>
      </div>

      <div class="form-check form-switch ms-4">
        <input class="form-check-input form-control" type="checkbox" id="receiveMainStageTimeUpdatesAny" [checked]="notificationsForm.controls.receiveMainStageTimeUpdatesAny.value" formControlName="receiveMainStageTimeUpdatesAny">
        <label class="form-check-label" for="receiveMainStageTimeUpdatesAny">Any concert</label>
      </div>
      <div class="form-check form-switch ms-4">
        <input class="form-check-input form-control" type="checkbox" id="receiveMainStageTimeUpdatesBookmarked" [checked]="notificationsForm.controls.receiveMainStageTimeUpdatesBookmarked.value" formControlName="receiveMainStageTimeUpdatesBookmarked">
        <label class="form-check-label" for="receiveMainStageTimeUpdatesBookmarked">Bookmarked concerts</label>
      </div>
      <div class="form-check form-switch ms-4">
        <input class="form-check-input form-control" type="checkbox" id="receiveMainStageTimeUpdatesAttending" [checked]="notificationsForm.controls.receiveMainStageTimeUpdatesAttending.value" formControlName="receiveMainStageTimeUpdatesAttending">
        <label class="form-check-label" for="receiveMainStageTimeUpdatesAttending">Concerts you attend</label>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col text-end">
          <button class="btn btn-success" (click)="onSaveNotificationsClicked()" [disabled]="isSavingNotifications$ || !notificationsForm.valid">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" [hidden]="!isSavingNotifications$"></span>
            <span class="sr-only">{{ isSavingNotifications$ ? "Saving..." : "Save" }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
