<div>
  <p>Please complete the registration process by filling out your profile. Your username might be publicly visible in the future.</p>

  <form #form="ngForm" class="form" [formGroup]="setupForm">
    <div class="flex gap-4 justify-content-center">
      <p-fluid>
        <div class="grid grid-cols-2 gap-2">
          <div class="col">
            <p-floatlabel variant="on">
              <input pInputText id="username" formControlName="username" autocomplete="off" fluid />
              <label for="username">Username</label>
            </p-floatlabel>
          </div>

          <div class="col-3">
            <button pButton variant="outlined" (click)="onSetRandomNameClicked()"><i class="pi pi-sync"></i> Random</button>
          </div>

          <div class="col-12">
            <button pButton [disabled]="setupForm.invalid" [loading]="isSavingProfile()" (click)="onSaveUserProfileClicked()">
              Continue <i class="pi pi-arrow-right"></i>
            </button>
          </div>
        </div>
      </p-fluid>
    </div>
  </form>
</div>
