<form #form="ngForm" [formGroup]="extraForm" class="form grid">
  <!-- Type of entry -->
  <div class="col-12">
    <label for="entryType">Select type of entry:</label><br />
    <p-select-button [options]="SetlistEntrySongExtraFormContent.possibleTypes" id="entryType" formControlName="extraType" aria-labelledby="basic" allowEmpty="false">
      <ng-template #item let-item>
        @if (item == SetlistEntrySongExtraFormContent.extraTypeExtraVerse) {
          Extra Verse
        } @else if (SetlistEntrySongExtraFormContent.extraTypeExtendedBridge) {
          Extended Bridge
        } @else {
          Other
        }
      </ng-template>
    </p-select-button>
  </div>

  <!-- Song selection -->
  <div class="col-12">
    <p-floatlabel variant="on">
      <p-select [options]="availableSongs$" optionLabel="title" formControlName="selectedSong" fluid />
      <label for="song">Played Song:</label>
    </p-floatlabel>
  </div>

  <!-- Optionally add extra notes -->
  <div class="col-12">
    <p-floatlabel variant="on">
      <input pInputText id="description" formControlName="description" autocomplete="off" fluid />
      <label for="description">(Optional) Description</label>
    </p-floatlabel>
  </div>
</form>
