<p-card class="mt-3">
  <ng-template #title>
    Your profile
  </ng-template>

  <form #form="ngForm" class="form" [formGroup]="userForm">
    <div class="grid gap-2 mt-2">
      <!-- ID -->
      <div class="col-12">
        <label for="id">ID</label>
        <input pInputText id="id" disabled autocomplete="off" fluid [value]="userId$" />
      </div>

      <!-- E-Mail -->
      <div class="col-12">
        <label for="emailInput">E-Mail address</label>
        <input pInputText id="emailInput" disabled autocomplete="off" fluid [value]="email$" />
      </div>

      <!-- Username -->
      <div class="col-12">
        <p-floatlabel variant="on">
          <input pInputText id="username" formControlName="username" autocomplete="off" fluid />
          <label for="username">Username</label>
        </p-floatlabel>
        <small>Your username might be publicly visible in the future.</small>
      </div>

      <!-- Country of user -->
      <div class="col-12">
        <p-floatlabel variant="on">
          <p-select formControlName="originCountryCode" inputId="originCountryCode" [options]="availableCountries()" optionLabel="name" optionValue="isoCode" appendTo="body" aria-autocomplete="none" [filter]="true" filterBy="name" showClear fluid>
            <ng-template #selectedItem let-selectedOption>
              <div class="flex items-center gap-2">
                <div>{{ selectedOption.name }}</div>
              </div>
            </ng-template>
            <ng-template let-country #item>
              <div class="flex items-center gap-2">
                <div>{{ country.name }}</div>
              </div>
            </ng-template>
          </p-select>
          <label for="originCountryCode">Country of origin (optional)</label>
        </p-floatlabel>
        <small>If you like, you can add your country to your profile.</small>
      </div>

      <p-divider />
      <div class="col-12">
        <button pButton [disabled]="userForm.invalid" [loading]="isSavingProfile()" (click)="onSaveUserProfileClicked()">Save</button>
      </div>
    </div>
  </form>
</p-card>
