<p-confirmDialog />

<p-card>
  <ng-template #title>
    <h1>Manage songs</h1>
  </ng-template>

  <p-table
    #dt2
    [value]="songs$"
    dataKey="id"
    stripedRows
    rowHover
    [rows]="25"
    [rowsPerPageOptions]="[10, 25, 50, 100]"
    [loading]="isLoading$"
    [paginator]="true"
    [globalFilterFields]="['title', 'album.title', 'isrc']"
    [tableStyle]="{ 'min-width': '75rem' }"
  >
    <ng-template #caption>
      <div class="flex">
        <p-button variant="outlined" label="Add song" [routerLink]="['add']" />

        <p-iconfield iconPosition="left" class="ml-auto">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input pInputText type="text" [(ngModel)]="globalSearchText$" (input)="dt2.filterGlobal(globalSearchText$, 'contains')" placeholder="Search keyword" />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Album</th>
        <th scope="col">ISRC</th>
        <th scope="col"></th>
      </tr>
      <tr>
        <th>
          <p-column-filter type="text" field="title" placeholder="Song title" ariaLabel="Filter Song Title" filterOn="input"></p-column-filter>
        </th>
        <th>
          <p-column-filter type="text" field="album.title" placeholder="Album title" ariaLabel="Filter Album Title" filterOn="input"></p-column-filter>
        </th>
        <th>
          <p-column-filter type="text" field="isrc" placeholder="ISRC" ariaLabel="Filter ISRC" filterOn="input"></p-column-filter>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template #body let-song>
      <tr>
        <td>
          {{ song.title }}
        </td>
        <td>
          @if (song.album) {
            <a class="link-info" [routerLink]="['..', 'albums', song.album.id]" target="_blank">{{ song.album.title }}</a>
          }
        </td>
        <td>
          {{ song.isrc }}
        </td>
        <td>
          <p-button-group>
            <p-button label="Edit" icon="pi pi-pencil" variant="outlined" size="small" [routerLink]="[song.id.toString()]" [disabled]="isDeletingSong$" />
            <p-button label="Delete" icon="pi pi-trash" variant="outlined" size="small" severity="danger" (click)="onDeleteSongClicked($event, song)" [disabled]="isDeletingSong$" />
          </p-button-group>
        </td>
      </tr>
    </ng-template>
    <ng-template #emptymessage>
      <tr>
        <td colspan="5">No songs found.</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
