<form #form="ngForm" [formGroup]="concertForm" class="form">
  <div class="card mt-3">
    <div class="card-body">
      <!-- Timezone -->
      <div class="form-group">
        <label for="tourName">Tour</label>
        <select id="tourName" formControlName="tourName" class="form-select" aria-label="Select tour">
          <option disabled>--- Select timezone of venue ---</option>
          <option value="">Not part of a tour</option>
          <option *ngFor="let tour of listOfTours" [value]="tour">{{tour}}</option>
        </select>
      </div>

      <!-- Date -->
      <div class="form-group">
        <label for="postedStartTime">Start time (according to ticket vendor)</label>
        <input id="postedStartTime" type="datetime-local" formControlName="postedStartTime" class="form-control"
               [ngClass]="{ 'is-invalid': concertForm.controls.postedStartTime.invalid }">
        <div *ngIf="concertForm.controls.postedStartTime.invalid" class="text-danger">
          <small *ngIf="concertForm.controls.postedStartTime.errors">Start time is required.</small>
        </div>
      </div>
      <!-- Timezone -->
      <div class="form-group">
        <label for="timezone">Venue timezone</label>
        <select id="timezone" formControlName="timezone" class="form-select" aria-label="Select timezone of concert">
          <option disabled>--- Select timezone of venue ---</option>
          <option *ngFor="let tz of timezones" [value]="tz.tzCode">{{tz.label}}</option>
        </select>
        <div *ngIf="concertForm.controls.timezone.invalid" class="text-danger">
          <small *ngIf="concertForm.controls.timezone.errors">Timezone is required.</small>
        </div>
      </div>
      <!-- Venue -->
      <div class="form-group">
        <label for="venue">Venue Name</label>
        <input id="venue" type="text" formControlName="venue" class="form-control"
               [ngClass]="{ 'is-invalid': concertForm.controls.venue.invalid }">
        <div *ngIf="concertForm.controls.venue.invalid" class="text-danger">
          <small *ngIf="concertForm.controls.venue.errors">Venue name is required.</small>
        </div>
      </div>
      <!-- City -->
      <div class="form-group">
        <label for="city">City</label>
        <input id="city" type="text" formControlName="city" class="form-control"
               [ngClass]="{ 'is-invalid': concertForm.controls.city.invalid }">
        <div *ngIf="concertForm.controls.city.invalid" class="text-danger">
          <small *ngIf="concertForm.controls.city.errors">City is required.</small>
        </div>
      </div>
      <!-- State -->
      <div class="form-group">
        <label for="state">State (optional)</label>
        <input id="state" type="text" formControlName="state" class="form-control"
               [ngClass]="{ 'is-invalid': concertForm.controls.state.invalid }">
        <div *ngIf="concertForm.controls.state.invalid" class="text-danger">
          <small *ngIf="concertForm.controls.state.errors">State is invalid.</small>
        </div>
      </div>
      <!-- Country -->
      <div class="form-group">
        <label for="country">Country</label>
        <input id="country" type="text" formControlName="country" class="form-control"
               [ngClass]="{ 'is-invalid': concertForm.controls.country.invalid }">
        <div *ngIf="concertForm.controls.country.invalid" class="text-danger">
          <small *ngIf="concertForm.controls.country.errors">Country is required.</small>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col" *ngIf="showClearButton$">
          <button class="btn btn-outline-secondary" [disabled]="isSaving$" (click)="onClearClicked()">Clear</button>
        </div>
        <div class="col text-end">
          <button class="btn btn-success" (click)="onSaveClicked()" [disabled]="isSaving$">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" [hidden]="!isSaving$"></span>
            <span class="sr-only">{{ isSaving$ ? "Saving..." : "Save" }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
