<!-- add setlist entry modal -->
<p-dialog header="Add a new entry" [(visible)]="isShowingAddEntryDialog$" [modal]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false">
  <app-add-setlist-entry-form [setlist-id]="currentSetlistId" />

  <p-divider />

  <ng-template #footer>
    <p-button label="Cancel" [text]="true" severity="secondary" (onClick)="dismissAddEntryModal()" />
    <p-button [label]="isAddingEntry$ ? 'Adding...' : 'Add'" (onClick)="onAddEntryConfirm()" [loading]="isAddingEntry$" [disabled]="isAddingEntry$" />
  </ng-template>
</p-dialog>

<!-- edit setlist entry modal -->
<p-dialog header="Edit a setlist entry" [(visible)]="isShowingEditEntryDialog$" [modal]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false" [dismissableMask]="true">
  <app-add-setlist-entry-form #editEntryForm [setlist-id]="currentSetlistId" />

  <p-divider />

  <ng-template #footer>
    <p-button label="Cancel" [text]="true" severity="secondary" (onClick)="dismissEditEntryModal()" />
    <p-button [label]="isEditingEntry$ ? 'Saving...' : 'Save'" (onClick)="onEditEntryConfirm(editEntryForm)" [loading]="isEditingEntry$" [disabled]="isEditingEntry$" />
  </ng-template>
</p-dialog>

<p-confirmDialog />

<p-card>
  <ng-template #title>
    <h1>Edit setlist</h1>
  </ng-template>

  <p-button severity="secondary" variant="outlined" icon="pi pi-arrow-left" label="Setlists" [routerLink]="['../']" />

  <form #form="ngForm" [formGroup]="setlistForm" class="form">
    <p-card class="mt-3">
      <ng-template #title>
        General information
      </ng-template>

      <!-- Concert selection -->
      <div class="form-group">
        <label for="concert">Concert</label>
        <div class="input-group mb-3">
          <input id="concert" type="text" formControlName="concertId" class="form-control"
                 [ngClass]="{ 'is-invalid': setlistForm.controls.concertId.invalid }">
          <button class="btn btn-outline-info" (click)="openConcertDetailsClicked()"><i class="bi bi-box-arrow-up-right"></i><span class="d-none d-sm-none d-md-inline ms-2">Open details</span></button>
        </div>
        @if (setlistForm.controls.concertId.invalid) {
          <div class="text-danger">
            @if (setlistForm.controls.concertId.errors) {
              <small>Concert is invalid.</small>
            }
          </div>
        }
      </div>

      <!-- Set Name -->
      <div class="form-group">
        <label for="setName">Name of the set:</label>
        <div class="input-group mb-3">
          <input id="setName" type="text" formControlName="setName" class="form-control" [ngClass]="{ 'is-invalid': setlistForm.controls.setName.invalid }">
        </div>
        @if (setlistForm.controls.setName.invalid) {
          <div class="text-danger">
            @if (setlistForm.controls.setName.errors) {
              <small>Name is invalid.</small>
            }
          </div>
        }
      </div>

      <!-- Linkinpedia URL -->
      <div class="form-group">
        <label for="linkinpediaUrl">Linkinpedia URL:</label>
        <div class="input-group mb-3">
          <input id="linkinpediaUrl" type="text" formControlName="linkinpediaUrl" class="form-control" [ngClass]="{ 'is-invalid': setlistForm.controls.linkinpediaUrl.invalid }">
          <button class="btn btn-outline-info" (click)="openLinkinpediaUrlClicked()"><i class="bi bi-box-arrow-up-right"></i><span class="d-none d-sm-none d-md-inline ms-2">Open link</span></button>
        </div>
        @if (setlistForm.controls.linkinpediaUrl.invalid) {
          <div class="text-danger">
            @if (setlistForm.controls.linkinpediaUrl.errors) {
              <small>URL is invalid.</small>
            }
          </div>
        }
      </div>

      <ng-template #footer>
        <p-divider />
        <div class="flex gap-4 mt-1 align-content-end justify-content-end">
          <p-button [label]="isSaving$ ? 'Saving...' : 'Save'" [loading]="isSaving$" (onClick)="onSaveClicked()" [disabled]="isSaving$ || !setlistForm.valid" />
        </div>
      </ng-template>
    </p-card>

    <p-card class="mt-3">
      <ng-template #title>
        <div class="flex gap-2">
          <span>Entries</span>
          <p-button label="Add" size="small" (onClick)="onAddEntryClicked()" [disabled]="isSaving$" />

          @if (isPendingReorder$) {
            <p-button label="Save order" severity="success" size="small" (onClick)="onSaveOrderClicked()" [disabled]="isSaving$" />
          }
        </div>
      </ng-template>

      <p-table [value]="setlistEntries$" (onRowReorder)="onRowReordered($event)" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header let-columns>
          <tr>
            <th></th>
            <th>#</th>
            <th></th>
            <th>Act</th>
            <th>Title</th>
            <th>Extra Notes</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template #body let-entry let-index="rowIndex">
          <tr [pReorderableRow]="index">
            <td>
              <span class="pi pi-bars" pReorderableRowHandle></span>
            </td>
            <td>{{ entry.songNumber }}</td>
            <td><app-setlist-entry-icons [rotation-song]="entry.isRotationSong" [record-tape]="entry.isPlayedFromRecording" [world-premiere]="entry.isWorldPremiere" [live-premiere]="entry.isLivePremiere" /></td>
            @if (entry.actNumber) {
              <td>Act {{ entry.actNumber }}</td>
            } @else {
              <td></td>
            }
            <td>{{ entry.title }}</td>
            <td>{{ entry.extraNotes }}</td>
            <td>
              <p-button-group>
                <p-button label="Edit" variant="outlined" size="small" (onClick)="onEditEntryClicked(editEntryForm, entry)" />
                <p-button label="Delete" severity="danger" variant="outlined" size="small" (onClick)="onDeleteEntryClicked($event, entry)" />
              </p-button-group>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </form>
</p-card>
