@if (differenceMillis$ >= 0) {
  <div class="hc">
    <div class="hc-cell">
      <span class="hc-val">{{ days$ }}</span>
      <span class="hc-lbl">days</span>
    </div>
    <div class="hc-sep">:</div>
    <div class="hc-cell">
      <span class="hc-val">{{ hours$ }}</span>
      <span class="hc-lbl">hrs</span>
    </div>
    <div class="hc-sep">:</div>
    <div class="hc-cell">
      <span class="hc-val">{{ minutes$ }}</span>
      <span class="hc-lbl">min</span>
    </div>
    <div class="hc-sep">:</div>
    <div class="hc-cell">
      <span class="hc-val">{{ seconds$ }}</span>
      <span class="hc-lbl">sec</span>
    </div>
  </div>
} @else {
  <div class="hc-live">It's showtime!</div>
}
