@if (differenceMillis$ >= 0) {
  <div class="hc">
    <div class="hc-cell">
      <span class="hc-val">{{ days$ | number: "2.0" }}</span>
      <span class="hc-lbl">days</span>
    </div>
    <div class="hc-sep">:</div>
    <div class="hc-cell">
      <span class="hc-val">{{ hours$ | number: "2.0" }}</span>
      <span class="hc-lbl">hrs</span>
    </div>
    <div class="hc-sep">:</div>
    <div class="hc-cell">
      <span class="hc-val">{{ minutes$ | number: "2.0" }}</span>
      <span class="hc-lbl">min</span>
    </div>
    <div class="hc-sep">:</div>
    <div class="hc-cell">
      <span class="hc-val">{{ seconds$ | number: "2.0" }}</span>
      <span class="hc-lbl">sec</span>
    </div>
  </div>
  <button
    type="button" class="hc-discord"
    (click)="discordShare.copyTimestamp(countdownToDate, 'R', 'countdown')"
  >
    <i class="pi pi-discord"></i> Copy as Discord countdown
  </button>
} @else {
  <div class="hc-live">It's showtime!</div>
}
