<div class="card w-100">
  <div class="card-header">
    {{ cardTitle }}
  </div>
  <div class="card-body">
    @if (concert$ != null && !isLoading$) {
      <h5 class="card-title"><a [routerLink]="['/concerts', concert$.id]" class="link-dark link-underline-opacity-0">{{ concert$?.venue }}</a></h5>
      <p class="card-text">
        <i>{{ concert$.city }}{{ (concert$.state?.length ?? 0) > 0 ? ", " + concert$.state : ""}}, {{ concert$.country }}</i>
      </p>
      @if (concert$.postedStartTime != undefined || concert$.mainStageTime != undefined) {
        <app-countdown [countdownToDate]="concert$.mainStageTime ?? concert$.postedStartTime!" [concertId]="concert$.id" />
      }
      @if (concert$.mainStageTime == undefined) {
        <small>Based on start time on ticket</small>
      }
      @if (concert$.mainStageTime != undefined) {
        <small>Based on Linkin Park stage time</small>
      }
    }

    @if (isLoading$) {
      <h5 class="card-title placeholder-glow">
        <span class="placeholder col-6"></span>
      </h5>
      <p class="card-text placeholder-glow">
        <span class="placeholder col-7"></span>
      </p>

      <div class="w-50">
        <span class="placeholder placeholder-wave bg-secondary-subtle col-3"></span>
        <span class="placeholder placeholder-wave bg-secondary-subtle col-8 ms-1"></span>
        <span class="placeholder placeholder-wave bg-secondary-subtle col-3"></span>
        <span class="placeholder placeholder-wave bg-secondary-subtle col-8 ms-1"></span>
        <span class="placeholder placeholder-wave bg-secondary-subtle col-3"></span>
        <span class="placeholder placeholder-wave bg-secondary-subtle col-8 ms-1"></span>
        <span class="placeholder placeholder-wave bg-secondary-subtle col-3"></span>
        <span class="placeholder placeholder-wave bg-secondary-subtle col-8 ms-1"></span>
      </div>

      <small class="placeholder placeholder-wave col-4 bg-secondary-subtle"></small>
    }

    @if (!isLoading$ && concert$ == null) {
      <div class="alert alert-{{notFoundAlertClass}}" role="alert">
        {{ notFoundAlertText }}
      </div>
    }
  </div>

  @if (concert$?.id != null) {
    <div class="card-footer text-end">
      @if (canUpdateConcerts$) {
        <button type="button" class="btn btn-outline-secondary me-2" [routerLink]="['/concerts/' + concert$?.id] + '/edit'">
          <i class="bi bi-pencil"></i><span class="d-none d-xs-none d-sm-none d-md-inline">&nbsp;Edit</span>
        </button>
      }
      <button class="btn btn-outline-info" [routerLink]="['/concerts', concert$?.id]"><i class="bi bi-info-circle"></i> Details</button>
    </div>
  } @else if (isLoading$) {
    <div class="card-footer text-end">
      <a href="#" tabindex="-1" class="btn btn-info disabled placeholder placeholder-wave col-4"></a>
    </div>
  }
</div>
