<div [id]="'card-' + concert$?.id" class="card w-100">
  <div class="card-header">
    Next concert
  </div>
  <div class="card-body">
    <ng-template [ngIf]="concert$ != null" #concertTemplate>
      <h5 class="card-title">{{ concert$?.venue }}</h5>
      <p class="card-text">
        <i>{{ concert$.city }}{{ (concert$.state?.length ?? 0) > 0 ? ", " + concert$.state : ""}}, {{ concert$.country }}</i>
      </p>
      <app-countdown *ngIf="concert$.postedStartTime != undefined || concert$.mainStageTime != undefined" [countdownToDate]="concert$.mainStageTime ?? concert$.postedStartTime!" [concertId]="concert$.id" />
      <small *ngIf="concert$.mainStageTime == undefined">Based on start time on ticket</small>
      <small *ngIf="concert$.mainStageTime != undefined">Based on Linkin Park stage time</small>
    </ng-template>

    <ng-template [ngIf]="concert$ == null" #concertLoadingSpinner>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading concert...
    </ng-template>

    <ng-template #concertLoadingError>
      <div class="alert alert-danger" role="alert">
        Failed to load information about the next concert!
      </div>
    </ng-template>
  </div>
  <div class="card-footer text-end" *ngIf="concert$?.id != null">
    <button class="btn btn-primary" (click)="shareImage(shareCountdownContent)"><i class="bi bi-camera"></i> Share</button>
    &nbsp;
    <button class="btn btn-outline-info" [routerLink]="['/concerts', concert$?.id]"><i class="bi bi-info-circle"></i> Details</button>
  </div>
</div>


<!-- Share countdown modal -->
<ng-template #shareCountdownContent let-shareCountdownModal>
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="shareCountdownModalLabel">Share countdown</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div id="shareCountdownModalBody" class="p-3">
        <p class="h2 mt-3" style="text-align: center; color: whitesmoke;">
          {{concert$?.venue}}
        </p>
        <p class="mt" style="text-align: center; color: whitesmoke;">
          {{concert$?.city}}, {{concert$?.country}}
        </p>

        <app-countdown [countdownToDate]="concert$?.mainStageTime ?? concert$!.postedStartTime!" [showShareBtn]="false" />

      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="generateImage()"><i class="bi bi-download"></i> Save image</button>
    </div>
  </div>
</ng-template>
