<ng-template #timeCard let-cardTitle="cardTitle" let-timeString="timeString" let-timeZoneText="timeZoneText">
  <p-card>
    <ng-template #header>
      <div class="ps-3 py-2 border-round-top surface-300">
        <span>{{ cardTitle }}</span>
      </div>
    </ng-template>

    <div class="text-center">
      <h4>{{ timeString }}</h4>
      <small style="font-size: 0.65rem">{{ timeZoneText }}</small>
    </div>
  </p-card>
</ng-template>

<!-- Buttons for navigation bookmarks etc -->
<div class="mb-4 flex justify-content-between">
  <!-- Left aligned buttons -->
  <div class="flex flex-wrap gap-2">
    <p-button label="Concerts list" icon="pi pi-arrow-left" variant="outlined" severity="secondary" [routerLink]="['/concerts']" ariaLabel="Go back to list" />

    <p-button-group>
      <p-button icon="pi pi-arrow-left" variant="outlined" [disabled]="adjacentConcertData$?.previous == null" [routerLink]="['../', adjacentConcertData$?.previous]" ariaLabel="Navigate to previous concert" />
      <p-button icon="pi pi-arrow-right" variant="outlined" [disabled]="adjacentConcertData$?.next == null" [routerLink]="['../', adjacentConcertData$?.next]" ariaLabel="Navigate to next concert" />
    </p-button-group>

    <p-button label="Edit" icon="pi pi-pencil" severity="info" variant="outlined" [routerLink]="['./edit']" [hidden]="!canUpdateConcerts$" />

    <p-split-button (click)="onAddSetlistBtnClicked()"
                    [hidden]="!canEditSetlists"
                    [model]="addSetlistButtonItems"
                    icon="pi pi-list"
                    label="Add setlist"
                    outlined severity="info"
                    class="hidden md:inline-flex"
    />
    <p-split-button (click)="onAddSetlistBtnClicked()"
                    [hidden]="!canEditSetlists"
                    [model]="addSetlistButtonItems"
                    icon="pi pi-list"
                    outlined severity="info"
                    class="inline-flex md:hidden"
    />

    <p-button-group>
      <p-button [icon]="concertBookmarks$?.currentUserStatus == 'Bookmarked' ? 'pi pi-bookmark-fill' : 'pi pi-bookmark'"
                [label]="String(concertBookmarks$?.bookmarked ?? 0)"
                (click)="onBookmarkClicked()"
                [disabled]="concertBookmarks$ == null || concertBookmarksLoading$"
                [pTooltip]="concertBookmarks$?.currentUserStatus == GetConcertBookmarkCountsResponseDto.CurrentUserStatusEnum.Bookmarked ? 'Remove bookmark' : 'Bookmark this show'"
                tooltipPosition="bottom"
                [outlined]="concertBookmarks$?.currentUserStatus == 'Bookmarked'"/>
      <p-button [icon]="concertBookmarks$?.currentUserStatus == 'Attending' ? 'pi pi-ticket' : 'pi pi-ticket'"
                [label]="String(concertBookmarks$?.attending ?? 0)"
                (click)="onAttendingClicked()"
                [disabled]="concertBookmarks$ == null || concertBookmarksLoading$"
                [pTooltip]="concertBookmarks$?.currentUserStatus == GetConcertBookmarkCountsResponseDto.CurrentUserStatusEnum.Attending ? 'Remove me from the show' : 'I will attend this show'"
                tooltipPosition="bottom"
                [outlined]="concertBookmarks$?.currentUserStatus == 'Attending'" severity="success"/>
    </p-button-group>
  </div>

  <!-- right aligned buttons -->
  <div>
    <p-button [hidden]="!canUpdateConcerts$" [routerLink]="['./edit']" icon="pi pi-external-link" label="Open Linkinpedia"
              pTooltip="Find more details on Linkinpedia" severity="info" tooltipPosition="bottom"
              variant="outlined"
              class="hidden xl:inline-flex"
    />
    <p-button [hidden]="!canUpdateConcerts$" [routerLink]="['./edit']" icon="pi pi-external-link"
              pTooltip="Find more details on Linkinpedia" severity="info" tooltipPosition="bottom"
              variant="outlined"
              class="inline-flex xl:hidden"
    />
  </div>
</div>

@if (concert$ == null) {
  <div style="text-align: center">
    <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" />
    <h2>Loading concert details...</h2>
  </div>
} @else {
  <h6>{{ getDateTimeInTimezone(concert$?.postedStartTime!, concert$?.timeZoneId!).toLocaleString(DateTime.DATE_MED_WITH_WEEKDAY) }}</h6>
  <h1>
    {{ ConcertTitleGenerator.getTitleFor(concert$!) }}
  </h1>
  <div style="margin-bottom: 10px">
    <app-concert-badges [concert]="concert$"></app-concert-badges>
  </div>

  <p>
    <b>{{ concert$?.venue }}</b>
    <br />
    <i>{{ concert$?.city }}{{ (concert$?.state?.length ?? 0) > 0 ? ", " + concert$?.state : ""}}, {{ concert$?.country }}</i>
    <br />
    {{ concert$?.showType }}
  </p>

  <div class="grid mt-3">
    @if (concert$?.mainStageTime != undefined) {
      <div class="time-card col-12 sm:col-6 md:col-4 lg:col-2 xl:col-2">
        <ng-container
          *ngTemplateOutlet="timeCard; context: { cardTitle: 'Linkin Park stage time',
            timeZoneText: `Venue\'s timezone (${concert$?.timeZoneId ?? '' })`,
             timeString: getDateTimeInTimezone(concert$?.mainStageTime!, concert$?.timeZoneId!).toLocaleString(DateTime.TIME_SIMPLE) }" />
      </div>

      <div class="time-card col-12 sm:col-6 md:col-4 lg:col-2 xl:col-2">
        <ng-container
          *ngTemplateOutlet="timeCard; context: { cardTitle: 'Linkin Park stage time',
            timeZoneText: `Your timezone`,
             timeString: getDateTime(concert$?.mainStageTime!).toLocaleString(DateTime. DATETIME_SHORT) }" />
      </div>
    }

    @if (concert$?.lpuEarlyEntryTime != undefined) {
      <div class="time-card col-2">
        <ng-container
          *ngTemplateOutlet="timeCard; context: { cardTitle: 'LPU Early Entry',
          timeZoneText: `Venue\'s timezone (${concert$?.timeZoneId ?? '' })`,
           timeString: getDateTimeInTimezone(concert$?.lpuEarlyEntryTime!, concert$?.timeZoneId!).toLocaleString(DateTime.TIME_SIMPLE) }" />
      </div>
    }

    @if (concert$?.doorsTime != undefined) {
      <div class="time-card col-2">
        <ng-container
          *ngTemplateOutlet="timeCard; context: { cardTitle: 'Doors open at',
          timeZoneText: `Venue\'s timezone (${concert$?.timeZoneId ?? '' })`,
           timeString: getDateTimeInTimezone(concert$?.doorsTime!, concert$?.timeZoneId!).toLocaleString(DateTime.TIME_SIMPLE) }" />
      </div>
    }

    @if (concert$?.mainStageTime == undefined) {
      <div class="time-card col-2">
        <ng-container
          *ngTemplateOutlet="timeCard; context: { cardTitle: 'Your start time',
           timeString: getDateTime(concert$?.postedStartTime!).toLocaleString(DateTime. DATETIME_SHORT) }" />
      </div>

      <div class="time-card col-2">
        <ng-container
          *ngTemplateOutlet="timeCard; context: { cardTitle: 'Venue start time',
           timeString: getDateTimeInTimezone(concert$?.postedStartTime!, concert$?.timeZoneId!).toLocaleString(DateTime.TIME_SIMPLE) }" />
      </div>
    }

    @if (!concert$?.isPast) {
      <div class="col-4">
        <p-card>
          <ng-template #header>
            <div class="ps-3 py-2 border-round-top surface-300">
              <span>Countdown <s>from</s>to zero</span>
            </div>
          </ng-template>

          <div class="w-full justify-content-center flex">
            <app-countdown [countdownToDate]="concert$?.mainStageTime ?? concert$?.postedStartTime!" [concertId]="concert$?.id" />
          </div>
        </p-card>
      </div>
    }

    @if ((concert$?.expectedSetDuration ?? 0) > 0) {
      <div class="time-card col-2">
        <ng-container
          *ngTemplateOutlet="timeCard; context: { cardTitle: 'Expected set duration',
           timeString: concert$?.expectedSetDuration ?? 0 | timeSpan }" />
      </div>
    }
  </div>
}


<p-scroll-top />
