<app-concert-details
  [concert]="concert$"
  [adjacentConcertData]="adjacentConcertData$"
  [concertBookmarks]="concertBookmarks$"
  [concertBookmarksLoading]="concertBookmarksLoading$"
  [resolverError]="resolverError$"
  [isAuthenticated]="isAuthenticated$"
  [canUpdateConcerts]="canUpdateConcerts$"
  [canEditSetlists]="canEditSetlists"
  [setlists]="setlists$"
  [setlistsCacheUpdatedAt]="setlistsCacheUpdatedAt$"
  [addSetlistButtonItems]="addSetlistButtonItems"
  (bookmarkClicked)="onBookmarkClicked()"
  (attendingClicked)="onAttendingClicked()"
  (addSetlistClicked)="onAddSetlistBtnClicked()"
/>
