<nav class="navbar sticky-top navbar-expand-sm navbar-light bg-secondary-subtle">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">L<span style="display: inline-block; transform: scaleX(-1); margin-left: -3px">P</span> Concert Calendar</span>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/concerts']" [routerLinkActive]="['active']">Concerts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/map']" [routerLinkActive]="['active']">Map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/about']" [routerLinkActive]="['active']">About</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated$">
          <a class="nav-link" aria-current="page" [routerLink]="['/profile']" [routerLinkActive]="['active']">{{ currentUser$?.username ?? "Profile" }}</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <ng-template [ngIf]="!isAuthenticated$">
          <li class="nav-item">
            <button type="button" class="btn btn-outline-secondary" (click)="login()">Login</button>
          </li>
        </ng-template>
        <ng-template [ngIf]="isAuthenticated$">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" [routerLink]="['/users']" [routerLinkActive]="['active']">Users</a>
          </li>
          <li class="nav-item ms-2">
            <button type="button" class="btn btn-outline-danger" (click)="logout()">Logout</button>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>

<div class="container" style="padding-top: 30px">
  <!-- Content here -->
  <router-outlet />
</div>


<footer id="main-footer" class="mb-4">
  <small>This is a fan-site and not affiliated with Linkin Park!</small>
  <br />
  <small>
    <a class="link-secondary link-underline-opacity-0 link-underline-opacity-100-hover" [routerLink]="['/', 'privacy']">Privacy Policy</a>
  </small>
  <small>&nbsp;|&nbsp;Build: {{ environment.build }}</small>
</footer>
