<h1>Import concert from Linkinpedia</h1>

<form #sourceForm="ngForm" [formGroup]="sourceDataForm" class="form">
  <div class="card mt-3">
    <div class="card-header">
      Source information
    </div>
    <div class="card-body edit-form-card">
      <!-- Linkinpedia URL -->
      <div class="form-group">
        <label for="linkinpediaUrl">Linkinpedia URL:</label>
        <div class="input-group mb-3">
          <input id="linkinpediaUrl" type="text" formControlName="linkinpediaUrl" class="form-control" [ngClass]="{ 'is-invalid': sourceDataForm.controls.linkinpediaUrl.invalid }" placeholder="URL to the concert page in the wiki">
        </div>
        @if (sourceDataForm.controls.linkinpediaUrl.invalid) {
          <div class="text-danger">
            @if (sourceDataForm.controls.linkinpediaUrl.errors) {
              <small>URL is invalid or missing.</small>
            }
          </div>
        }
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col text-end">
          <button class="btn btn-success" (click)="onLoadSourceClicked()" [disabled]="isReadingSource$ || !sourceDataForm.valid">
            <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true" [hidden]="!isReadingSource$"></span>
            <span class="sr-only">{{ isReadingSource$ ? "Loading..." : "Load" }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

@if (generatedSetlist$ != null) {
  <div class="card mt-3">
    <div class="card-header">
      Setlist to import
    </div>
    <div class="card-body edit-form-card">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Type</th>
              <th>Title</th>
              <th>Extra Notes</th>
            </tr>
          </thead>
          <tbody>
            @for (generatedEntry of generatedSetlist$.entries; track generatedEntry) {
              <tr>
                <td>{{ generatedEntry.songNumber }}</td>
                @if (generatedEntry.foundSongId) {
                  <td>existing Song</td>
                } @else if ((generatedEntry.foundSongIds?.length ?? 0) >= 2) {
                  <td>select Song</td>
                } @else if (generatedEntry.foundSongVariantId) {
                  <td>existing Variant</td>
                } @else if (generatedEntry.foundMashupId) {
                  <td>existing Mashup</td>
                } @else {
                  <td>NEW song or mashup</td>
                }
                <td>{{ generatedEntry.title }}</td>
                <td>{{ generatedEntry.extraNotes }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
}
