<!-- add song modal -->
<ng-template #addSongContent let-addSongModal>
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="addSongModalLabel">Add a new song</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <app-song-form [standalone]="false" [is-saving]="isAddingSong$" />
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" [disabled]="isAddingSong$" (click)="dismissAddSongModal()">Cancel</button>
      <button type="button" class="btn btn-primary" id="addSongConfirmBtn" (click)="onAddSongConfirm()" [disabled]="isAddingSong$">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" [hidden]="!isAddingSong$"></span>
        <span class="sr-only">{{ isAddingSong$ ? "Adding..." : "Add" }}</span>
      </button>
    </div>
  </div>
</ng-template>

<!-- add song mashup modal -->
<ng-template #addMashupContent let-addMashupModal>
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="addMashupModalLabel">Add a new song mashup</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <app-mashup-form [standalone]="false" [is-saving]="isAddingMashup$" />
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" [disabled]="isAddingMashup$" (click)="dismissAddMashupModal()">Cancel</button>
      <button type="button" class="btn btn-primary" id="addSongConfirmBtn" (click)="onAddMashupConfirm()" [disabled]="isAddingMashup$">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" [hidden]="!isAddingMashup$"></span>
        <span class="sr-only">{{ isAddingMashup$ ? "Adding..." : "Add" }}</span>
      </button>
    </div>
  </div>
</ng-template>


<h1>Import concert from Linkinpedia</h1>

<form #sourceForm="ngForm" [formGroup]="sourceDataForm" class="form">
  <div class="card mt-3">
    <div class="card-header">
      Source information
    </div>
    <div class="card-body edit-form-card">
      <!-- Linkinpedia URL -->
      <div class="form-group">
        <label for="linkinpediaUrl">Linkinpedia URL:</label>
        <div class="input-group mb-3">
          <input id="linkinpediaUrl" type="text" formControlName="linkinpediaUrl" class="form-control" [ngClass]="{ 'is-invalid': sourceDataForm.controls.linkinpediaUrl.invalid }" placeholder="URL to the concert page in the wiki">
        </div>
        @if (sourceDataForm.controls.linkinpediaUrl.invalid) {
          <div class="text-danger">
            @if (sourceDataForm.controls.linkinpediaUrl.errors) {
              <small>URL is invalid or missing.</small>
            }
          </div>
        }
      </div>

      <!-- Concert selection -->
      <div class="form-group">
        <label for="concert">Concert</label>
        <div class="input-group mb-3">
          <input id="concert" type="text" formControlName="concertId" class="form-control"
                 [ngClass]="{ 'is-invalid': sourceDataForm.controls.concertId.invalid }">
          <button class="btn btn-outline-info" (click)="openConcertDetailsClicked()"><i class="bi bi-box-arrow-up-right"></i><span class="d-none d-sm-none d-md-inline ms-2">Open details</span></button>
        </div>
        @if (sourceDataForm.controls.concertId.invalid) {
          <div class="text-danger">
            @if (sourceDataForm.controls.concertId.errors) {
              <small>Concert is invalid.</small>
            }
          </div>
        }
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col text-end">
          <button class="btn btn-success" (click)="onLoadSourceClicked()" [disabled]="isReadingSource$ || !sourceDataForm.valid">
            <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true" [hidden]="!isReadingSource$"></span>
            <span class="sr-only">{{ isReadingSource$ ? "Loading..." : "Load" }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

@if (generatedSetlist$ != null) {
  <div class="card mt-3">
    <div class="card-header">
      Setlist to import
    </div>
    <div class="card-body edit-form-card">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Type</th>
              <th>Title</th>
              <th>Extra Notes</th>
            </tr>
          </thead>
          <tbody>
            @for (generatedEntry of generatedSetlist$.entries; track generatedEntry) {
              @if (generatedEntry.foundSongId) {
                <tr class="table-success">
                  <td>{{ generatedEntry.songNumber }}</td>
                  <td>existing Song</td>
                  <td>{{ generatedEntry.title }}</td>
                  <td>{{ generatedEntry.extraNotes }}</td>
                </tr>
              } @else if ((generatedEntry.foundSongIds?.length ?? 0) >= 2) {
                <tr class="table-warning">
                  <td>{{ generatedEntry.songNumber }}</td>
                  <td>select Song</td>
                  <td>{{ generatedEntry.title }}</td>
                  <td>{{ generatedEntry.extraNotes }}</td>
                </tr>
              } @else if (generatedEntry.foundSongVariantId) {
                <tr class="table-success">
                  <td>{{ generatedEntry.songNumber }}</td>
                  <td>existing Variant</td>
                  <td>{{ generatedEntry.title }}</td>
                  <td>{{ generatedEntry.extraNotes }}</td>
                </tr>
              } @else if (generatedEntry.foundMashupId) {
                <tr class="table-success">
                  <td>{{ generatedEntry.songNumber }}</td>
                  <td>existing Mashup</td>
                  <td>{{ generatedEntry.title }}</td>
                  <td>{{ generatedEntry.extraNotes }}</td>
                </tr>
              } @else {
                <tr class="table-danger">
                  <td>{{ generatedEntry.songNumber }}</td>
                  <td>NEW song or mashup</td>
                  <td>{{ generatedEntry.title }}</td>
                  <td>{{ generatedEntry.extraNotes }}</td>
                </tr>
                <tr class="table-danger">
                  <td></td>
                  <td colspan="3">
                    <button class="btn btn-sm btn-outline-primary me-2" (click)="openCreateSongBtnClicked(generatedEntry, addSongContent)">Create Song</button>
                    <button class="btn btn-sm btn-outline-primary me-2" (click)="openCreateMashupBtnClicked(generatedEntry, addMashupContent)">Create Mashup</button>
                  </td>
                </tr>
              }
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
}
