<!-- add song modal -->
<p-dialog header="Add a new song" [(visible)]="isShowingAddSongDialog$" [modal]="true" [dismissableMask]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false">
  <app-song-form [standalone]="false" [is-saving]="isAddingSong$" />

  <p-divider />

  <ng-template #footer>
    <p-button label="Cancel" [text]="true" severity="secondary" (onClick)="dismissAddSongModal()" />
    <p-button [label]="isAddingSong$ ? 'Adding...' : 'Add'" (onClick)="onAddSongConfirm()" [loading]="isAddingSong$" [disabled]="isAddingSong$" />
  </ng-template>
</p-dialog>

<!-- add song mashup modal -->
<p-dialog header="Add a new song mashup" [(visible)]="isShowingAddMashupDialog$" [modal]="true" [dismissableMask]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false">
  <app-mashup-form [standalone]="false" [is-saving]="isAddingMashup$" />

  <p-divider />

  <ng-template #footer>
    <p-button label="Cancel" [text]="true" severity="secondary" (onClick)="dismissAddMashupModal()" />
    <p-button [label]="isAddingMashup$ ? 'Adding...' : 'Add'" (onClick)="onAddMashupConfirm()" [loading]="isAddingMashup$" [disabled]="isAddingMashup$" />
  </ng-template>
</p-dialog>

<p-card>
  <ng-template #title>
    Import concert from Linkinpedia
  </ng-template>

  <p-card>
    <ng-template #title>
      <h4>Source information</h4>
    </ng-template>

    <form #sourceForm="ngForm" [formGroup]="sourceDataForm" class="form">
      <div class="grid gap-2">
        <!-- Concert selection -->
        <div class="col-12">
          <p-floatlabel variant="on">
            <p-input-group>
              <input pInputText id="concertId" formControlName="concertId" autocomplete="off" fluid />
              <p-inputgroup-addon>
                <p-button icon="pi pi-external-link" label="Open Details" severity="info" variant="outlined" (onClick)="openConcertDetailsClicked()" />
              </p-inputgroup-addon>
            </p-input-group>

            <label for="concertId">Concert</label>
          </p-floatlabel>
        </div>

        <!-- Concert Title -->
        <div class="col-12">
          <p-floatlabel variant="on">
            <input pInputText id="concertTitle" formControlName="concertTitle" autocomplete="off" fluid />
            <label for="concertTitle">Concert title</label>
          </p-floatlabel>
        </div>

        <!-- Set Name -->
        <div class="col-12">
          <p-floatlabel variant="on">
            <input pInputText id="setName" formControlName="setName" autocomplete="off" fluid />
            <label for="setName">Name of the set</label>
          </p-floatlabel>
        </div>

        <!-- Linkinpedia URL -->
        <div class="col-12">
          <p-floatlabel variant="on">
            <input pInputText id="linkinpediaUrl" formControlName="linkinpediaUrl" autocomplete="off" fluid />
            <label for="concertId">Linkinpedia URL</label>
          </p-floatlabel>
        </div>
      </div>
    </form>

    <ng-template #footer>
      <p-divider />
      <div class="flex gap-4 mt-1 align-content-end justify-content-end">
        <p-button [label]="isReadingSource$ ? 'Loading...' : 'Load'" [loading]="isReadingSource$" (onClick)="onLoadSourceClicked()" [disabled]="isReadingSource$ || !sourceDataForm.valid" />
      </div>
    </ng-template>
  </p-card>

  <ng-template #actNumberCol let-actNumber="actNumber">
    @if (actNumber) {
      <td>Act {{ actNumber }}</td>
    } @else {
      <td></td>
    }
  </ng-template>

  <ng-template #entryRow
               let-rowClass="rowClass"
               let-entryNumber="entryNumber"
               let-actNumber="actNumber"
               let-type="type"
               let-title="title"
               let-notes="notes">
    <tr class="{{ rowClass }}">
      <td>{{ entryNumber }}</td>
      <ng-container *ngTemplateOutlet="actNumberCol; context: {actNumber: actNumber }" />
      <td>{{ type }}</td>
      <td>{{ title }}</td>
      <td>{{ notes }}</td>
    </tr>
  </ng-template>

  @if (generatedSetlist$ != null) {
    <p-card class="mt-2">
      <ng-template #title>
        <h4>Setlist to import</h4>
      </ng-template>

      <h5>Acts</h5>

      <p-table [value]="generatedSetlist$.acts ?? []" stripedRows>
        <ng-template #header let-columns>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Extra Notes</th>
          </tr>
        </ng-template>
        <ng-template #body let-generatedAct let-index="rowIndex">
          <tr>
            <td>Act {{ generatedAct.actNumber }}</td>
            <td>{{ generatedAct.name }}</td>
            <td>{{ generatedAct.extraNotes }}</td>
          </tr>
        </ng-template>
      </p-table>

      <p-divider />
      <h5>Setlist entries</h5>

      <p-table [value]="generatedSetlist$.entries ?? []">
        <ng-template #header let-columns>
          <tr>
            <th>#</th>
            <th>Act</th>
            <th>Type</th>
            <th>Title</th>
            <th>Extra Notes</th>
          </tr>
        </ng-template>
        <ng-template #body let-generatedEntry let-index="rowIndex">
          @if (generatedEntry.foundSongVariantId) {
            <ng-container *ngTemplateOutlet="entryRow; context: { rowClass: 'bg-success-subtle', entryNumber: generatedEntry.songNumber, actNumber: generatedEntry.actNumber, type: 'existing Variant', title: generatedEntry.title, notes: generatedEntry.extraNotes }" />
            <tr class="bg-secondary-subtle">
              <td colspan="2"></td>
              <td colspan="3">
                <p-button label="Use normal version" (onClick)="setNormalVersionBtnClicked(generatedEntry)" size="small" />
              </td>
            </tr>
          } @else if (generatedEntry.foundSongId) {
            <ng-container *ngTemplateOutlet="entryRow; context: { rowClass: 'bg-success-subtle', entryNumber: generatedEntry.songNumber, actNumber: generatedEntry.actNumber, type: 'existing Song', title: generatedEntry.title, notes: generatedEntry.extraNotes }" />
            @if (generatedEntry.possibleSongVariants?.length ?? 0 > 0) {
              <tr class="bg-secondary-subtle">
                <td colspan="2"></td>
                <td colspan="3">
                  <span pTooltip="Select a variant here, if they didn't play the normal version">Select a variant:</span>
                  <div class="btn-group btn-group-sm mr-2">
                    @for (variant of generatedEntry.possibleSongVariants; track variant.id) {
                      <p-button [label]="variant.variantName" (onClick)="setVariantBtnClicked(generatedEntry, variant)" size="small" />
                    }
                  </div>
                </td>
              </tr>
            }
          } @else if ((generatedEntry.foundSongIds?.length ?? 0) >= 2) {
            <ng-container *ngTemplateOutlet="entryRow; context: { rowClass: 'bg-warning-subtle', entryNumber: generatedEntry.songNumber, actNumber: generatedEntry.actNumber, type: 'select Song', title: generatedEntry.title, notes: generatedEntry.extraNotes }" />
          } @else if (generatedEntry.foundMashupId) {
            <ng-container *ngTemplateOutlet="entryRow; context: { rowClass: 'bg-success-subtle', entryNumber: generatedEntry.songNumber, actNumber: generatedEntry.actNumber, type: 'existing Mashup', title: generatedEntry.title, notes: generatedEntry.extraNotes }" />
          } @else {
            <ng-container *ngTemplateOutlet="entryRow; context: { rowClass: 'bg-danger-subtle', entryNumber: generatedEntry.songNumber, actNumber: generatedEntry.actNumber, type: 'NEW song or mashup', title: generatedEntry.title, notes: generatedEntry.extraNotes }" />
            <tr class="bg-secondary-subtle">
              <td colspan="2"></td>
              <td colspan="3">
                <div class="flex gap-2">
                  <p-button label="Create Song" (onClick)="openCreateSongBtnClicked(generatedEntry)" size="small" />
                  <p-button label="Create Mashup" (onClick)="openCreateMashupBtnClicked(generatedEntry)" size="small" />
                  <p-button label="Text-only entry" severity="info" (onClick)="changeToPlainTextEntryBtnClicked(generatedEntry)" size="small" pTooltip="Use this button to mark this as a plain-text entry. This will not have any songs assigned." />
                </div>
              </td>
            </tr>
          }
        </ng-template>
      </p-table>

      <ng-template #footer>
        <p-divider />
        <div class="flex gap-4 mt-1 align-content-end justify-content-end">
          <p-button [label]="isCreatingSetlist$ ? 'Importing...' : 'Import'" [loading]="isCreatingSetlist$" (onClick)="onCreateSetlistClicked()" [disabled]="isCreatingSetlist$ || !sourceDataForm.valid || !allEntriesValid$" />
        </div>
      </ng-template>
    </p-card>
  }
</p-card>
