<p-card [style]="{ width: '18rem', overflow: 'hidden' }">
  <ng-template #header>
    <div class="ps-3 pt-2 pb-1 border-round-top-sm bg-secondary-subtle">
      <span>{{ cardTitle }}</span>
    </div>
  </ng-template>
  <ng-template #title>
    @if (isLoading$) {
      <p-skeleton width="8rem" />
    } @else {
      <a class="no-underline text-color hover:text-color-secondary" [routerLink]="['/concerts', concert$?.id]">{{ concert$?.venue }}</a>
    }
  </ng-template>
  <ng-template #subtitle>
    @if (concert$ != null && !isLoading$) {
      {{ concert$.city }}{{ (concert$.state?.length ?? 0) > 0 ? ", " + concert$.state : ""}}, {{ concert$.country }}
    } @else if (isLoading$) {
      <p-skeleton width="10rem" />
    }
  </ng-template>

  @if (concert$?.postedStartTime != undefined || concert$?.mainStageTime != undefined) {
    <div class="pb-2" pTooltip="In your local timezone" tooltipPosition="bottom">{{ concert$?.mainStageTime ?? concert$?.postedStartTime | date:"EEEE', ' dd.MM.yyyy' at ' HH:mm" }}</div>

    <app-countdown [countdownToDate]="concert$?.mainStageTime ?? concert$?.postedStartTime!" [concertId]="concert$?.id" />

    @if (concert$?.mainStageTime == undefined) {
      <small style="font-size: 0.6rem">Based on start time on ticket</small>
    }
    @if (concert$?.mainStageTime != undefined) {
      <small style="font-size: 0.6rem">Based on Linkin Park's stage time</small>
    }
  }

  <ng-template #footer>
    <div class="flex flex-row-reverse flex-wrap">
      @if (concert$?.id != null) {
        <p-button variant="outlined" label="Details" icon="pi pi-info-circle" [routerLink]="['/concerts', concert$?.id]" size="small" />

        @if (canUpdateConcerts$) {
          <p-button variant="outlined" label="Edit" icon="pi pi-pencil" [routerLink]="['/concerts', concert$?.id, 'edit']" size="small" class="pe-2" severity="info" />
        }
      } @else if (isLoading$) {
        <p-skeleton borderRadius="2" width="5rem" height="2.2rem" />
      }
    </div>
  </ng-template>
</p-card>
