@if (showRecordTape$) {
  <i class="pi pi-megaphone mr-1" pTooltip="This track was played from a recording, not live." tooltipPosition="top"></i>
}

@if (showRotationSymbol$) {
  <i class="pi pi-refresh mr-1" pTooltip="Rotation song" tooltipPosition="top"></i>
}

@if (showGlobeSymbol$) {
  <i class="pi pi-globe mr-1" pTooltip="World premiere! This song was not even released yet when it was played." tooltipPosition="top"></i>
}

@if (showLivePremiereSymbol$) {
  <i class="pi pi-sparkles mr-1" pTooltip="Live premiere! This is the first time this song has been played live." tooltipPosition="top"></i>
}
