<ng-container *ngIf="differenceMillis$ >= 0">
  <table class="lpshows-countdown-table" style="width: 100%; margin-left: 10px; margin-right: 10px;">
    <colgroup>
      <col style="width: 30px" />
      <col *ngIf="showShareBtn" />
      <col *ngIf="showShareBtn" style="align-content: end" />
    </colgroup>
    <tr>
      <td>{{ days$ }}</td>
      <td>days</td>
    </tr>
    <tr>
      <td>{{ hours$ }}</td>
      <td>hours</td>
      <td rowspan="2" *ngIf="showShareBtn">
        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="countdownShareDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi-share"></i> Share
        </button>
        <ul class="dropdown-menu" aria-labelledby="countdownShareDropdown">
          <li><a class="dropdown-item" href="javascript:void(0)" (click)="onShareDiscordTsClicked()"><i class="bi bi-discord"></i> Discord Timestamp</a></li>
          <li *ngIf="(concertId?.length ?? 0) > 0"><a class="dropdown-item" href="javascript:void(0)" (click)="onShareLinkClicked()"><i class="bi bi-link"></i> Link</a></li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>{{ minutes$ }}</td>
      <td>minutes</td>
    </tr>
    <tr>
      <td>{{ seconds$ }}</td>
      <td>seconds</td>
    </tr>
  </table>
</ng-container>

<ng-container *ngIf="differenceMillis$ < 0">
  <h2>It's showtime!</h2>
</ng-container>
