<form #form="ngForm" [formGroup]="filterForm" class="form row m-3">
  <div class="form-check form-switch ms-2">
    <input class="form-check-input" type="checkbox" formControlName="showPastConcerts" id="showHistoricSwitch">
    <label class="form-check-label" for="showHistoricSwitch">Show past concerts</label>
  </div>

  <!-- Tour -->
  <div class="mb-3">
    <label for="tourName" class="col-sm-12 col-md-12 col-lg-4 col-form-label">Tour</label>
    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-6">
      <select id="tourName" formControlName="tourName" class="form-select" aria-label="Select tour">
        <option disabled>--- Select timezone of venue ---</option>
        <option value="">Not part of a tour</option>
        <option *ngFor="let tour of listOfTours" [value]="tour">{{tour}}</option>
      </select>
    </div>
  </div>

  <!-- Date Range -->
  <div class="mb-3">
    <label class="col-sm-12 col-md-12 col-lg-4 col-form-label">Concert date</label>
    <div class="input-group col-sm-12 col-md-12 col-lg-8 col-xl-6">
      <input type="date" class="form-control" placeholder="from date" aria-label="from date">
      <span class="input-group-text">to</span>
      <input type="date" class="form-control" placeholder="to date" aria-label="to date">
    </div>
  </div>

  <div class="mt-3">
    <button class="btn btn-primary" (click)="onApplyClicked()"><i class="bi bi-filter"></i> Apply filter</button>
    <button class="btn btn-outline-secondary ms-2" (click)="onClearClicked()"><i class="bi bi-x"></i> Clear</button>
  </div>
</form>
