<form #form="ngForm" [formGroup]="filterForm" class="form">
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" formControlName="showPastConcerts" id="showHistoricSwitch">
    <label class="form-check-label" for="showHistoricSwitch">Show past concerts</label>
  </div>

  <!-- Tour -->
  <div class="mb-3 row">
    <label for="tourName" class="col-sm-2 col-form-label">Tour</label>
    <div class="col-sm-5">
      <select id="tourName" formControlName="tourName" class="form-select" aria-label="Select tour">
        <option disabled>--- Select timezone of venue ---</option>
        <option value="">Not part of a tour</option>
        <option *ngFor="let tour of listOfTours" [value]="tour">{{tour}}</option>
      </select>
    </div>
  </div>

  <div>
    <button class="btn btn-primary" (click)="onApplyClicked()"><i class="bi bi-filter"></i> Apply filter</button>
    <button class="btn btn-outline-secondary ms-2" (click)="onClearClicked()"><i class="bi bi-x"></i> Clear</button>
  </div>
</form>
