<div class="btn-group mb-3">
  <button class="btn btn-outline-primary" [routerLink]="['/admin/setlists']" [routerLinkActive]="['active']">Setlists</button>
  <button class="btn btn-outline-primary" [routerLink]="['/admin/albums']" [routerLinkActive]="['active']">Albums</button>
  <button class="btn btn-outline-primary" [routerLink]="['/admin/songs']" [routerLinkActive]="['active']">Songs</button>
  <button class="btn btn-outline-primary" [routerLink]="['/admin/mashups']" [routerLinkActive]="['active']">Mashups</button>
</div>

<router-outlet />
