<h2>List of concerts</h2>

<!-- DeleteConcert confirmation modal -->
<ng-template #deleteConcertContent let-deleteConcertModal>
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="deleteConcertModalLabel">Delete concert?</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <p>Do you really want to delete this concert?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" [disabled]="concertDeleting$" (click)="dismissConcertConfirmModal()">Cancel</button>
      <button type="button" class="btn btn-danger" id="deleteConcertConfirmBtn" (click)="onDeleteConcertConfirm()" [disabled]="concertDeleting$">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" [hidden]="!concertDeleting$"></span>
        <span class="sr-only">{{ addConcertFormSaving$ ? "Deleting..." : "Delete" }}</span>
      </button>
    </div>
  </div>
</ng-template>


<div class="alert alert-warning" role="alert">
  Please be aware, that this list is <b>maintained by fans</b> and is not official information by Linkin Park or any organizer! <b>YOU</b> are responsible for making sure you are at the correct venue at the correct time and with a valid ticket.
</div>


<!-- Button to add concert -->
<button type="button" class="btn btn-outline-primary mb-2" *ngIf="hasWriteAccess$" [disabled]="!hasWriteAccess$" [routerLink]="['/concerts/add']">
  Add concert
</button>

<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="showHistoricSwitch" [(ngModel)]="showHistoricConcerts$" (change)="onShowHistoricSwitchChanged()">
  <label class="form-check-label" for="showHistoricSwitch">Show past concerts</label>
</div>

<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="useNewTableSwitch" [(ngModel)]="useNewTable$" (change)="onUseNewTableSwitchChanged()">
  <label class="form-check-label" for="useNewTableSwitch">Use new list design</label>
</div>

<app-concert-filter (applyClicked)="onFilterChanged($event)"></app-concert-filter>

<!-- List of all concerts -->
<div class="container" *ngIf="useNewTable$">
  <ng-template *ngIf="isLoading$; then loadingSpinner; else concertsListContent" />

  <!-- Loading spinner while API request is running -->
  <ng-template #loadingSpinner>
    <div class="text-center">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading concerts...
    </div>
  </ng-template>

  <!-- List of concerts -->
  <ng-template #concertsListContent >
    <div class="row w-100 justify-content-center">
      <div class="col col-12 col-xs-12 col-sm-12 col-md-11 col-lg-9 col-xl-8 col-xxl-7">
        <div class="card m-2 m-xs-2 m-sm-2 m-md-3 m-lg-3 m-xl-4 m-xxl-4" *ngFor="let concert of concerts$">
          <div class="card-body">
            <h5 class="card-title">
              <a class="link-body-emphasis link-underline-opacity-0" [routerLink]="['/concerts/' + concert.id]">
                {{ ConcertTitleGenerator.getTitleFor(concert) }}
              </a>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
              <a class="link-secondary link-underline-opacity-0" [routerLink]="['/concerts/' + concert.id]">
                {{ concert.venue }}, {{ concert.city }}{{ (concert.state?.length ?? 0) > 0 ? ", " + concert.state : ""}}, {{ concert.country }}
              </a>
            </h6>
            <div class="row">
              <div class="col">
                <table>
                  <tr>
                    <td class="fw-bold">Your timezone:</td>
                    <td>&nbsp;</td>
                    <td>{{getDateTime(concert.mainStageTime ?? concert.postedStartTime!).toLocaleString(DateTime. DATETIME_SHORT)}}</td>
                  </tr>
                  <tr *ngIf="concert.timeZoneId != undefined">
                    <td class="fw-bold">Venue timezone:</td>
                    <td>&nbsp;</td>
                    <td>{{getDateTimeInTimezone(concert.mainStageTime ?? concert.postedStartTime!, concert.timeZoneId).toLocaleString(DateTime. DATETIME_SHORT)}}</td>
                  </tr>
                </table>

                <app-concert-badges [concert]="concert"></app-concert-badges>
              </div>

              <div *ngIf="!concert.isPast" class="col d-none d-md-inline d-xl-inline d-xxl-inline" style="max-width: 250px;">
                <app-countdown [countdownToDate]="concert.mainStageTime ?? concert.postedStartTime!"></app-countdown>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="row justify-content-between">
              <!-- Info about the timings -->
              <div class="col col-6">
                <span class="countdown-description align-bottom" *ngIf="concert.mainStageTime == undefined">Based on start time on ticket</span>
                <span class="countdown-description align-bottom" *ngIf="concert.mainStageTime != undefined">Based on Linkin Park stage time</span>
              </div>

              <!-- Some buttons -->
              <div class="text-end col col-6">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-info" [routerLink]="['/concerts/' + concert.id]">
                    <i class="bi bi-info-circle"></i>
                  </button>
                  <ng-container *ngIf="hasWriteAccess$"> <!-- Only show delete button if user can write data -->
                    <button type="button" class="btn btn-outline-secondary" [routerLink]="['/concerts/' + concert.id] + '/edit'">
                      <i class="bi bi-pencil"></i><span class="d-none d-xs-none d-sm-none d-md-inline">&nbsp;Edit</span>
                    </button>
                    <button type="button" class="btn btn-outline-danger" (click)="onDeleteConcertClicked(deleteConcertContent, concert.id)">
                      <i class="bi bi-trash"></i>
                    </button>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<!-- OLD TABLE -->
<table class="table table-striped align-middle" *ngIf="!useNewTable$">
  <thead>
  <tr>
    <th scope="col">Date</th>
    <th scope="col">Location</th>
    <th></th><!-- Action buttons -->
  </tr>
  </thead>
  <tbody class="table-group-divider" *ngIf="isLoading$">
  <tr>
    <td colspan="3" style="text-align: center"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading concerts...</td>
  </tr>
  </tbody>
  <tbody class="table-group-divider" *ngIf="!isLoading$">
  <tr *ngFor="let concert of concerts$">
    <td>
      <app-concert-badges [concert]="concert"></app-concert-badges>
      <table class="align-bottom">
        <tr>
          <td>Your timezone:</td>
          <td>{{getDateTime(concert.mainStageTime ?? concert.postedStartTime!).toLocaleString(DateTime. DATETIME_SHORT)}}</td>
        </tr>
        <tr *ngIf="concert.timeZoneId != undefined">
          <td>Venue timezone:</td>
          <td>{{getDateTimeInTimezone(concert.mainStageTime ?? concert.postedStartTime!, concert.timeZoneId).toLocaleString(DateTime. DATETIME_SHORT)}}</td>
        </tr>
      </table>
    </td>
    <td>
      <b>{{ concert.venue }}</b>
      <br/>
      <small>{{ concert.city }}{{ (concert.state?.length ?? 0) > 0 ? ", " + concert.state : ""}}, {{ concert.country }}</small>
    </td>
    <td style="text-align: right">
      <button type="button" class="btn btn-info" [routerLink]="['/concerts/' + concert.id]">
        <i class="bi bi-info-circle"></i>
      </button>
      <ng-container *ngIf="hasWriteAccess$"> <!-- Only show delete button if user can write data -->
        &nbsp;
        <button type="button" class="btn btn-outline-secondary" [routerLink]="['/concerts/' + concert.id] + '/edit'">
          <i class="bi bi-pencil"></i> Edit
        </button>
        &nbsp;
        <button type="button" class="btn btn-outline-danger" (click)="onDeleteConcertClicked(deleteConcertContent, concert.id)">
          <i class="bi bi-trash"></i>
        </button>
      </ng-container>
    </td>
  </tr>
  </tbody>
</table>
