<h2>List of concerts</h2>

<!-- AddConcert Modal -->
<ng-template #addConcertContent let-addConcertModal>
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="addConcertModalLabel">Add new concert</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form #form="ngForm" [formGroup]="addConcertForm" class="form">
        <div class="card mt-3">
          <div class="card-body">
            <!-- Timezone -->
            <div class="form-group">
              <label for="tourName">Venue timezone</label>
              <select id="tourName" formControlName="tourName" class="form-select" aria-label="Select tour">
                <option disabled>--- Select timezone of venue ---</option>
                <option value="">Not part of a tour</option>
                <option *ngFor="let tour of listOfTours" [value]="tour">{{tour}}</option>
              </select>
            </div>

            <!-- Date -->
            <div class="form-group">
              <label for="postedStartTime">Start time (according to ticket vendor)</label>
              <input id="postedStartTime" type="datetime-local" formControlName="postedStartTime" class="form-control"
                     [ngClass]="{ 'is-invalid': addConcertForm.controls.postedStartTime.invalid }">
              <div *ngIf="addConcertForm.controls.postedStartTime.invalid" class="text-danger">
                <small *ngIf="addConcertForm.controls.postedStartTime.errors">Start time is required.</small>
              </div>
            </div>
            <!-- Timezone -->
            <div class="form-group">
              <label for="timezone">Venue timezone</label>
              <select id="timezone" formControlName="timezone" class="form-select" aria-label="Select timezone of concert">
                <option disabled>--- Select timezone of venue ---</option>
                <option *ngFor="let tz of timezones" [value]="tz.tzCode">{{tz.label}}</option>
              </select>
              <div *ngIf="addConcertForm.controls.timezone.invalid" class="text-danger">
                <small *ngIf="addConcertForm.controls.timezone.errors">Timezone is required.</small>
              </div>
            </div>
            <!-- Venue -->
            <div class="form-group">
              <label for="venue">Venue Name</label>
              <input id="venue" type="text" formControlName="venue" class="form-control"
                     [ngClass]="{ 'is-invalid': addConcertForm.controls.venue.invalid }">
              <div *ngIf="addConcertForm.controls.venue.invalid" class="text-danger">
                <small *ngIf="addConcertForm.controls.venue.errors">Venue name is required.</small>
              </div>
            </div>
            <!-- City -->
            <div class="form-group">
              <label for="city">City</label>
              <input id="city" type="text" formControlName="city" class="form-control"
                     [ngClass]="{ 'is-invalid': addConcertForm.controls.city.invalid }">
              <div *ngIf="addConcertForm.controls.city.invalid" class="text-danger">
                <small *ngIf="addConcertForm.controls.city.errors">City is required.</small>
              </div>
            </div>
            <!-- State -->
            <div class="form-group">
              <label for="state">State (optional)</label>
              <input id="state" type="text" formControlName="state" class="form-control"
                     [ngClass]="{ 'is-invalid': addConcertForm.controls.state.invalid }">
              <div *ngIf="addConcertForm.controls.state.invalid" class="text-danger">
                <small *ngIf="addConcertForm.controls.state.errors">State is invalid.</small>
              </div>
            </div>
            <!-- Country -->
            <div class="form-group">
              <label for="country">Country</label>
              <input id="country" type="text" formControlName="country" class="form-control"
                     [ngClass]="{ 'is-invalid': addConcertForm.controls.country.invalid }">
              <div *ngIf="addConcertForm.controls.country.invalid" class="text-danger">
                <small *ngIf="addConcertForm.controls.country.errors">Country is required.</small>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" [disabled]="addConcertFormSaving$">Close</button>
      <button type="button" class="btn btn-success" id="createFormSubmitBtn" (click)="onCreateFormSubmit()" [disabled]="!addConcertForm.valid || addConcertFormSaving$">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" [hidden]="!addConcertFormSaving$"></span>
        <span class="sr-only">{{ addConcertFormSaving$ ? "Adding..." : "Add" }}</span>
      </button>
    </div>
  </div>
</ng-template>

<!-- DeleteConcert confirmation modal -->
<ng-template #deleteConcertContent let-deleteConcertModal>
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="deleteConcertModalLabel">Delete concert?</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <p>Do you really want to delete this concert?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" [disabled]="concertDeleting$" (click)="dismissConcertConfirmModal()">Cancel</button>
      <button type="button" class="btn btn-danger" id="deleteConcertConfirmBtn" (click)="onDeleteConcertConfirm()" [disabled]="concertDeleting$">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" [hidden]="!concertDeleting$"></span>
        <span class="sr-only">{{ addConcertFormSaving$ ? "Deleting..." : "Delete" }}</span>
      </button>
    </div>
  </div>
</ng-template>


<div class="alert alert-warning" role="alert">
  Please be aware, that this list is <b>maintained by fans</b> and is not official information by Linkin Park or any organizer! <b>YOU</b> are responsible for making sure you are at the correct venue at the correct time and with a valid ticket.
</div>


<!-- Button to add concert -->
<button type="button" class="btn btn-outline-primary" *ngIf="hasWriteAccess$" [disabled]="!hasWriteAccess$" (click)="onCreateConcertClicked(addConcertContent)">
  Add concert
</button>

<!-- List of all concerts -->
<table class="table table-striped align-middle">
  <thead>
  <tr>
    <th scope="col">Date</th>
    <th scope="col">Location</th>
    <th></th><!-- Action buttons -->
  </tr>
  </thead>
  <tbody class="table-group-divider" *ngIf="concerts$.length == 0">
  <tr>
    <td colspan="3" style="text-align: center"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading concerts...</td>
  </tr>
  </tbody>
  <tbody class="table-group-divider" *ngIf="concerts$.length > 0">
  <tr *ngFor="let concert of concerts$">
    <td>
      <table>
        <tr>
          <td>Your timezone:</td>
          <td>{{getDateTime(concert.postedStartTime!).toLocaleString(DateTime. DATETIME_SHORT)}}</td>
        </tr>
        <tr *ngIf="concert.timeZoneId != undefined">
          <td>Venue timezone:</td>
          <td>{{getDateTimeInTimezone(concert.postedStartTime!).toLocaleString(DateTime. DATETIME_SHORT)}}</td>
        </tr>
      </table>
    </td>
    <td>
      <b>{{ concert.venue }}</b>
      <br/>
      <small>{{ concert.city }}{{ (concert.state?.length ?? 0) > 0 ? ", " + concert.state : ""}}, {{ concert.country }}</small>
    </td>
    <td style="text-align: right">
      <button type="button" class="btn btn-info" [routerLink]="['/concerts/' + concert.id]">
        <i class="bi bi-info-circle"></i>
      </button>
      <ng-container *ngIf="hasWriteAccess$"> <!-- Only show delete button if user can write data -->
        &nbsp;
        <button type="button" class="btn btn-outline-secondary" [routerLink]="['/concerts/' + concert.id] + '/edit'">
          <i class="bi bi-pencil"></i> Edit
        </button>
        &nbsp;
        <button type="button" class="btn btn-outline-danger" (click)="onDeleteConcertClicked(deleteConcertContent, concert.id)">
          <i class="bi bi-trash"></i>
        </button>
      </ng-container>
    </td>
  </tr>
  </tbody>
</table>
