<h1>Map of all concerts</h1>

<!-- Only filter for tour on this page. Extended filters are not needed here -->
<div class="mb-3 row">
  <div class="col-sm-5">
    <select id="tourName" class="form-select" aria-label="Select tour" (change)="onTourSelected($event)" [disabled]="isLoadingPins$">
      <option disabled>--- Select tour ---</option>
      <option value="ALL">All shows</option>
      <option value="">Not part of a tour</option>
      @for (tour of listOfTours; track tour) {
        <option [value]="tour" [selected]="currentFilter.tour == tour">{{tour}}</option>
      }
    </select>
  </div>
</div>

<!-- Loading indicator for pins -->
<div style="height: 20px">
  @if (isLoadingPins$) {
    <div>
      <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>&nbsp;Loading concert data...
    </div>
  }
</div>

<div id="map" class="map"></div>
