<!-- add act modal -->
<p-dialog header="Add new act to this setlist" [(visible)]="showAddActDialog" [modal]="true" [draggable]="false" [dismissableMask]="true">
  <form #form="ngForm" [formGroup]="addActForm" class="form">
    <div class="grid mt-0">
      <!-- Act Number -->
      <div class="col-12">
        <p-floatlabel variant="on">
          <p-input-number [showButtons]="true" inputId="actNumber" formControlName="actNumber" placeholder="Number of the entry in the setlist" [min]="0" [max]="10" fluid />
          <label for="actNumber">Act Number</label>
        </p-floatlabel>
      </div>
    </div>
    <!-- Act Title -->
    <div class="col-12">
      <p-floatlabel variant="on">
        <input pInputText id="actTitle" formControlName="actTitle" autocomplete="off" fluid />
        <label for="actTitle">Title</label>
      </p-floatlabel>
    </div>
  </form>

  <ng-template #footer>
    <p-button label="Cancel" [text]="true" severity="secondary" (onClick)="showAddActDialog = false" />
    <p-button label="Add" (onClick)="onActAdd()" [disabled]="addActForm.invalid" />
  </ng-template>
</p-dialog>

<!-- add song modal -->
<p-dialog header="Add new song" [(visible)]="showAddSongDialog" [modal]="true" [draggable]="false" [dismissableMask]="true">
  <form #form="ngForm" [formGroup]="addSongForm" class="form grid">
    <!-- Song Title -->
    <div class="col-12">
      <p-floatlabel variant="on">
        <input pInputText id="songTitle" formControlName="songTitle" autocomplete="off" fluid />
        <label for="songTitle">Title</label>
      </p-floatlabel>
    </div>

    <!-- Song ISRC -->
    <div class="col-12">
      <p-floatlabel variant="on">
        <input pInputText id="songIsrc" formControlName="songIsrc" autocomplete="off" fluid />
        <label for="songIsrc">ISRC</label>
      </p-floatlabel>
    </div>
  </form>

  <ng-template #footer>
    <p-button label="Cancel" [text]="true" severity="secondary" (onClick)="showAddSongDialog = false" />
    <p-button label="Add" (onClick)="onSongAdd()" [disabled]="addSongForm.invalid" />
  </ng-template>
</p-dialog>

<!-- add setlist entry modal -->
<ng-template #addSongExtraContent let-addSongExtraModal>
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="addEntryModalLabel">Add a new extra to this entry</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <app-setlist-entry-song-extra-form [setlist-id]="setlistId" [available-songs]="availableSongs$"></app-setlist-entry-song-extra-form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" [disabled]="isAddingSongExtra$" (click)="dismissAddExtraModal()">Cancel</button>
      <button type="button" class="btn btn-primary" id="addExtraConfirmBtn" (click)="onAddSongExtraConfirmed()" [disabled]="isAddingSongExtra$">
        <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true" [hidden]="!isAddingSongExtra$"></span>
        <span class="sr-only">{{ isAddingSongExtra$ ? "Adding..." : "Add" }}</span>
      </button>
    </div>
  </div>
</ng-template>

<!-- Delete song extra confirmation modal -->
<ng-template #deleteExtraContent let-deleteExtraModal>
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="deleteEntryModalLabel">Delete this extra from the setlist entry?</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <p>Do you really want to delete this extra?</p>
      <table>
        <tr>
          <td class="fw-bold">Type:</td>
          <td>&nbsp;</td>
          <td>{{ songExtraToDelete$?.type }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Song:</td>
          <td>&nbsp;</td>
          <td>{{ songExtraToDelete$?.song?.title ?? 'no song' }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Description:</td>
          <td>&nbsp;</td>
          <td>{{ songExtraToDelete$?.description }}</td>
        </tr>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" [disabled]="isDeletingSongExtra$" (click)="dismissDeleteSongExtraConfirmationModal()">Cancel</button>
      <button type="button" class="btn btn-danger" id="deleteConcertConfirmBtn" (click)="confirmDeleteSongExtraConfirmationModal()" [disabled]="isDeletingSongExtra$">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" [hidden]="!isDeletingSongExtra$"></span>
        <span class="sr-only">{{ isDeletingSongExtra$ ? "Deleting..." : "Delete" }}</span>
      </button>
    </div>
  </div>
</ng-template>


<form #form="ngForm" [formGroup]="setlistEntryForm" class="form">
  <div class="grid mt-0">
    <!-- Song Number -->
    <div class="col-12">
      <p-floatlabel variant="on">
        <p-input-number [showButtons]="true" inputId="vertical" formControlName="songNumber" placeholder="Number of the entry in the setlist" [min]="0" [max]="50" fluid />
        <label for="on_label">Number of the entry</label>
      </p-floatlabel>
    </div>

    <!-- Act selection -->
    <div class="col-12">
      <ng-template #actSelectionItem let-act="act">
        Act {{ act.actNumber }}: {{ act.title }}
      </ng-template>
      <p-floatlabel variant="on">
        <p-select inputId="selectedAct" [options]="availableActs$" formControlName="selectedAct" fluid showClear>
          <ng-template #selectedItem let-selectedOption>
            <ng-container *ngTemplateOutlet="actSelectionItem; context: { act: selectedOption }" />
          </ng-template>
          <ng-template let-act #item>
            <ng-container *ngTemplateOutlet="actSelectionItem; context: { act: act }" />
          </ng-template>

          <ng-template #footer>
            <div class="p-3">
              <p-button label="Add New" fluid severity="primary" text size="small" icon="pi pi-plus" (onClick)="openAddActDialog()" />
            </div>
          </ng-template>
        </p-select>
        <label for="selectedAct">Act</label>
      </p-floatlabel>
    </div>

    <!-- Type of entry -->
    <div class="col-12">
      <label for="entryType">Select type of entry:</label><br />
      <p-select-button [options]="SetlistEntryTypeSelectorItem.possibleTypes" id="entryType" formControlName="entryType" optionLabel="label" optionValue="value" aria-labelledby="basic" allowEmpty="false" />
    </div>

    @if (selectedEntryType$ == AddSetlistEntryFormContent.entryTypeFreeText) {
      <div class="mb-4">
        <small>Use this entry type for entries like the intro song where we don't need statistics.</small>
      </div>
    }

    @if (selectedEntryType$ == AddSetlistEntryFormContent.entryTypeSong) {
      <!-- Song selection -->
      <div class="col-12">
        <ng-template #songSelectionItem let-song="song">
          <div class="flex flex-wrap">
            @if (song.album?.title) {
              <div class="text-xs w-full">
                {{ song.album!.title}}
              </div>
            }
            <div class="font-bold w-full">
              {{ song.title }}
            </div>
          </div>
        </ng-template>
        <p-floatlabel variant="on">
          <p-select inputId="selectedSong" [options]="availableSongs$" formControlName="selectedSong" fluid showClear>
            <ng-template #selectedItem let-selectedOption>
              <ng-container *ngTemplateOutlet="songSelectionItem; context: { song: selectedOption }" />
            </ng-template>
            <ng-template let-song #item>
              <ng-container *ngTemplateOutlet="songSelectionItem; context: { song: song }" />
            </ng-template>

            <ng-template #footer>
              <div class="p-3">
                <p-button label="Add New" fluid severity="primary" text size="small" icon="pi pi-plus" (onClick)="openAddSongDialog()" />
              </div>
            </ng-template>
          </p-select>
          <label for="selectedSong">Played Song</label>
        </p-floatlabel>
      </div>

      <div class="col-12">
        <ng-template #songVariantSelectionItem let-variant="variant">
          {{ variant.variantName }} {{ variant.description != null && variant.description.length > 0 ? `(${variant.description})` : "" }}
        </ng-template>
        <p-floatlabel variant="on">
          <p-select inputId="selectedSong" [options]="variantsOfSelectedSong$" formControlName="selectedSongVariant" fluid showClear>
            <ng-template #selectedItem let-selectedOption>
              <ng-container *ngTemplateOutlet="songVariantSelectionItem; context: { variant: selectedOption }" />
            </ng-template>
            <ng-template let-variant #item>
              <ng-container *ngTemplateOutlet="songVariantSelectionItem; context: { variant: variant }" />
            </ng-template>

            <ng-template #footer>
              <div class="p-3">
                <p-button label="Add New" fluid severity="primary" text size="small" icon="pi pi-plus" (onClick)="openAddSongDialog()" />
              </div>
            </ng-template>
          </p-select>
          <label for="selectedSong">Played variation of this song</label>
        </p-floatlabel>
      </div>
    } @else if (selectedEntryType$ == AddSetlistEntryFormContent.entryTypeSongMashup) {
      <!-- Mashup -->
      <div class="col-12">
        <p-floatlabel variant="on">
          <p-select inputId="selectedSongMashup" [options]="availableSongMashups$" optionLabel="title" formControlName="selectedSongMashup" fluid showClear />
          <label for="selectedSongMashup">Mashup/Medley</label>
        </p-floatlabel>
      </div>
    }
  </div>

  <!-- Optionally override the title of the song or mashup -->
  <div class="form-group">
    <label for="titleOverride">{{ selectedEntryType$ != AddSetlistEntryFormContent.entryTypeFreeText ? '(Optional)' : '' }} Override the title for this entry:</label>
    <div class="input-group mb-3">
      <input id="titleOverride" type="text" formControlName="titleOverride" class="form-control" [ngClass]="{ 'is-invalid': setlistEntryForm.controls.titleOverride.invalid }" placeholder="if empty, the name of the song/mashup will be used by default">
    </div>
    @if (setlistEntryForm.controls.titleOverride.invalid) {
      <div class="text-danger">
        @if (setlistEntryForm.controls.titleOverride.errors) {
          <small>Title is invalid.</small>
        }
      </div>
    }
  </div>

  <!-- Optionally add extra notes -->
  <div class="form-group">
    <label for="extraNotes">(Optional) Additional notes:</label>
    <div class="input-group mb-3">
      <input id="extraNotes" type="text" formControlName="extraNotes" class="form-control" [ngClass]="{ 'is-invalid': setlistEntryForm.controls.extraNotes.invalid }" placeholder="Example: Joe threw a cake into the crowd">
    </div>
    @if (setlistEntryForm.controls.extraNotes.invalid) {
      <div class="text-danger">
        @if (setlistEntryForm.controls.extraNotes.errors) {
          <small>Input is invalid.</small>
        }
      </div>
    }
  </div>

  <!-- Switches for boolean fields -->
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="wasPlayedFromRecording" [checked]="setlistEntryForm.controls.wasPlayedFromRecording.value" formControlName="wasPlayedFromRecording">
    <label class="form-check-label" for="wasPlayedFromRecording"><i class="bi bi-cassette-fill"></i> Was played from recording</label>
  </div>

  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="wasRotationSong" [checked]="setlistEntryForm.controls.wasRotationSong.value" formControlName="wasRotationSong">
    <label class="form-check-label" for="wasRotationSong"><i class="bi bi-arrow-counterclockwise"></i> This is a rotation slot</label>
  </div>

  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="wasWorldPremiere" [checked]="setlistEntryForm.controls.wasWorldPremiere.value" formControlName="wasWorldPremiere">
    <label class="form-check-label" for="wasWorldPremiere"><i class="bi bi-globe-americas"></i> Was a world premiere</label>
  </div>

  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="wasLivePremiere" [checked]="setlistEntryForm.controls.wasLivePremiere.value" formControlName="wasLivePremiere">
    <label class="form-check-label" for="wasLivePremiere"><i class="bi bi-stars"></i> Was a live premiere</label>
  </div>

  <!-- song extras -->
  <br />
  <h4>Song extras <button class="btn btn-sm btn-primary" (click)="onAddSongExtraClicked(addSongExtraContent)">Add</button></h4>
  @if (currentSongExtras$.length == 0) {
    <p>You can add some extras like an extended bridge for this entry.</p>
  } @else {
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Type</th>
        <th>Song</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        @for (extra of currentSongExtras$; track extra.id) {
          <tr>
            <td>
              {{ extra.type }}

              @if (extra.description != null) {
                <i class="bi bi-info-circle ms-2" style="cursor: help" [ngbTooltip]="extra.description"></i>
              }
            </td>
            <td>{{ extra.song?.title }}</td>
            <td class="align-content-end"><button class="btn btn-sm btn-outline-danger" (click)="onDeleteSongExtraClicked(deleteExtraContent, extra.id ?? '')"><i class="bi bi-trash"></i></button></td>
          </tr>
        }
      </tbody>
    </table>
  }
</form>
