<?xml version="1.0" encoding="utf-8"?>
<!-- File name extension must be .runsettings -->
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <!-- List of environment variables we want to set-->
      <CONCERT_IMG_BUCKET_NAME>test-bucket-1234567</CONCERT_IMG_BUCKET_NAME>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>