<h1>App for iOS</h1>

<p>
  I'm currently working on an app for iOS (and macOS), so you can have widgets on your homescreen to show the next concert.
</p>
<h2>Features</h2>
<ul>
  <li>Widgets with a countdown to a Linkin Park show. Either...</li>
  <ul>
    <li>... next concert</li>
    <li>... next concert you have bookmarked</li>
    <li>... next concert you are planning to attend</li>
  </ul>
  <li>List of all upcoming concerts</li>
  <li>bookmark concerts</li>
  <li>Filter for concerts by tour and date</li>
  <li>Map of all upcoming concerts (and past concerts since 2024)</li>
</ul>

<h2>Download</h2>
<p>Right now, the app is only available though Apple TestFlight as I want some people to test it before publicly releasing it on the AppStore.</p>
<p>Join the TestFlight Beta <a href="https://testflight.apple.com/join/sQMcXNnD" class="link link-dark" target="_blank">HERE</a>!</p>
<a href="https://testflight.apple.com/join/sQMcXNnD" target="_blank"><img src="favicon.svg" height="70" /></a>
