<h1>App for iOS</h1>

<p>
  You can install the new app, so you can have widgets on your homescreen to show the next concert and get push notifications about upcoming concerts.
</p>

<div class="mb-3">
  <a href="https://apps.apple.com/de/app/lp-concert-calendar/id6753590776?itscg=30200&itsct=apps_box_badge&mttnsubad=6753590776" style="display: inline-block;">
    <img src="https://toolbox.marketingtools.apple.com/api/v2/badges/download-on-the-app-store/black/en-us?releaseDate=1771286400" alt="Download on the App Store" style="width: 245px; height: 82px; vertical-align: middle; object-fit: contain;" />
  </a>
  <img src="favicon.svg" height="70" class="ms-3" />
</div>

<h2>Features</h2>
<ul>
  <li>Widgets with a countdown to a Linkin Park show. Either...</li>
  <ul>
    <li>... next concert</li>
    <li>... next concert you have bookmarked</li>
    <li>... next concert you are planning to attend</li>
  </ul>
  <li>Get push-notifications as reminders or when the schedule is confirmed</li>
  <li>Get the weather forecast for your next concert</li>
  <li>Share the countdown to your next concert with your friends</li>
  <li>List of all upcoming concerts</li>
  <li>bookmark concerts</li>
  <li>Map of all upcoming concerts (and past concerts since 2024)</li>
</ul>

