<h1>App for iOS</h1>

<p>
  You can install the new app, so you can have widgets on your homescreen to show the next concert and get push notifications about upcoming concerts.
</p>

<div class="mb-3">
  <a href="https://apps.apple.com/us/app/lp-concert-calendar/id6753590776" target="_blank"><img src="/appstore/appstore-download-en-black.svg" width="200" class="me-3"></a>
  <img src="favicon.svg" height="70" />
</div>

<h2>Features</h2>
<ul>
  <li>Widgets with a countdown to a Linkin Park show. Either...</li>
  <ul>
    <li>... next concert</li>
    <li>... next concert you have bookmarked</li>
    <li>... next concert you are planning to attend</li>
  </ul>
  <li>Get push-notifications as reminders or when the schedule is confirmed</li>
  <li>Get the weather forecast for your next concert</li>
  <li>Share the countdown to your next concert with your friends</li>
  <li>List of all upcoming concerts</li>
  <li>bookmark concerts</li>
  <li>Map of all upcoming concerts (and past concerts since 2024)</li>
</ul>

