<h1>Edit concert</h1>
<button class="btn btn-outline-info" [routerLink]="['../']">View</button>
&nbsp;
<div class="btn-group" role="group" aria-label="Navigation">
  <button class="btn btn-outline-secondary" [disabled]="adjacentConcertData$?.previous == null" [routerLink]="['../../', adjacentConcertData$?.previous, 'edit']">
    <i class="bi bi-arrow-left"></i>
  </button>
  <button class="btn btn-outline-secondary" [disabled]="adjacentConcertData$?.next == null" [routerLink]="['../../', adjacentConcertData$?.next, 'edit']">
    <i class="bi bi-arrow-right"></i>
  </button>
</div>

<app-concert-form [concert-id]="concertId" [is-saving]="isSaving$" (saveClicked)="onFormSaved($event)"></app-concert-form>
