<div class="row justify-content-between mb-4">
  <div class="col-auto mb-2">
    <button class="btn btn-outline-secondary" [routerLink]="['../']"><i class="bi bi-arrow-left"></i> Concerts list</button>
    &nbsp;
    <div class="btn-group" role="group" aria-label="Navigation">
      <button class="btn btn-outline-secondary" [disabled]="adjacentConcertData$?.previous == null" [routerLink]="['../', adjacentConcertData$?.previous]">
        <i class="bi bi-arrow-left"></i>
      </button>
      <button class="btn btn-outline-secondary" [disabled]="adjacentConcertData$?.next == null" [routerLink]="['../', adjacentConcertData$?.next]">
        <i class="bi bi-arrow-right"></i>
      </button>
    </div>
    &nbsp;
    <button class="btn btn-outline-info" [routerLink]="['./edit']" [hidden]="!hasWriteAccess$"><i class="bi bi-pencil"></i> Edit</button>
    &nbsp;
  </div>
  <div class="col-auto align-content-end mb-2">
    <button class="btn btn-outline-info" (click)="openLinkinpediaClicked()" placement="bottom" ngbTooltip="Search details on Linkinpedia">
      <i class="bi bi-box-arrow-up-right"></i><span class="d-none d-sm-none d-md-inline ms-2">Open Linkinpedia</span>
    </button>
  </div>
</div>

<ng-template *ngIf="concert$ == null; then loadingSpinner; else details;" />

<ng-template #loadingSpinner>
  <div style="text-align: center">
    <h2><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading concert details...</h2>
  </div>
</ng-template>

<ng-template #details>
  <h6>{{ getDateTimeInTimezone(concert$?.postedStartTime!, concert$?.timeZoneId!).toLocaleString(DateTime.DATE_MED_WITH_WEEKDAY) }}</h6>
  <h1>
    {{ ConcertTitleGenerator.getTitleFor(concert$!) }}
  </h1>
  <div style="margin-bottom: 10px">
    <app-concert-badges [concert]="concert$"></app-concert-badges>
  </div>
  <p>
    <b>{{ concert$?.venue }}</b>
    <br />
    <i>{{ concert$?.city }}{{ (concert$?.state?.length ?? 0) > 0 ? ", " + concert$?.state : ""}}, {{ concert$?.country }}</i>
    <br />
    {{ concert$?.showType }}
  </p>

  <div class="container">
    <div class="row row-cols-xxl-4 row-cols-xl-3 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1 row-cols-1 gy-4 gx-4">
      <ng-template [ngIf]="concert$?.mainStageTime != undefined" #lpStageTimeCards>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="card w-100" style="width: 18rem;">
            <div class="card-header">
              Linkin Park stage time <span class="d-md-none d-lg-none d-xl-none d-xxl-none">(Venue timezone)</span>
            </div>
            <div class="card-body text-center">
              <h4 class="card-text">{{getDateTimeInTimezone(concert$?.mainStageTime!, concert$?.timeZoneId!).toLocaleString(DateTime.TIME_SIMPLE)}}</h4>
              <small>Venue's timezone ({{ concert$?.timeZoneId ?? "" }})</small>
            </div>
          </div>
        </div>

        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="card w-100" style="width: 18rem;">
            <div class="card-header">
              Linkin Park stage time <span class="d-md-none d-lg-none d-xl-none d-xxl-none">(Your timezone)</span>
            </div>
            <div class="card-body text-center">
              <h4 class="card-text">{{getDateTime(concert$?.mainStageTime!).toLocaleString(DateTime. DATETIME_SHORT)}}</h4>
              <small>Your timezone</small>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template [ngIf]="concert$?.lpuEarlyEntryTime != undefined" #lpuEarlyEntryCard>
        <div class="col">
          <div class="card w-100" style="width: 18rem;">
            <div class="card-header">
              LPU Early Entry
            </div>
            <div class="card-body text-center">
              <h4 class="card-text">{{getDateTimeInTimezone(concert$?.lpuEarlyEntryTime!, concert$?.timeZoneId!).toLocaleString(DateTime.TIME_SIMPLE)}}</h4>
              <small>Venue's timezone ({{ concert$?.timeZoneId ?? "" }})</small>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template [ngIf]="concert$?.doorsTime != undefined" #doorsTimeCard>
        <div class="col">
          <div class="card w-100" style="width: 18rem;">
            <div class="card-header">
              Doors open at
            </div>
            <div class="card-body text-center">
              <h4 class="card-text">{{getDateTimeInTimezone(concert$?.doorsTime!, concert$?.timeZoneId!).toLocaleString(DateTime.TIME_SIMPLE)}}</h4>
              <small>Venue's timezone ({{ concert$?.timeZoneId ?? "" }})</small>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template [ngIf]="concert$?.mainStageTime == undefined">
        <div class="col">
          <div class="card w-100" style="width: 18rem;">
            <div class="card-header">
              Your start time
            </div>
            <div class="card-body text-center">
              <h4 class="card-text">{{getDateTime(concert$?.postedStartTime!).toLocaleString(DateTime. DATETIME_SHORT)}}</h4>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template [ngIf]="concert$?.mainStageTime == undefined">
        <div class="col">
          <div class="card w-100" style="width: 18rem;">
            <div class="card-header">
              Venue start time
            </div>
            <div class="card-body text-center">
              <h4 class="card-text">{{getDateTimeInTimezone(concert$?.postedStartTime!, concert$?.timeZoneId!).toLocaleString(DateTime. TIME_SIMPLE)}}</h4>
            </div>
          </div>
        </div>
      </ng-template>

      <div class="col" *ngIf="!concert$?.isPast">
        <div class="card w-100" style="width: 18rem;">
          <div class="card-header">
            Countdown <s>from</s>to zero
          </div>
          <div class="card-body">
            <app-countdown [countdownToDate]="concert$?.mainStageTime ?? concert$?.postedStartTime!" [concertId]="concert$?.id"></app-countdown>
          </div>
        </div>
      </div>

      <ng-template [ngIf]="(concert$?.expectedSetDuration ?? 0) > 0">
        <div class="col">
          <div class="card w-100" style="width: 18rem;">
            <div class="card-header">
              Expected set duration
            </div>
            <div class="card-body text-center">
              <h4 class="card-text">{{ concert$?.expectedSetDuration ?? 0 | timeSpan }}</h4>
            </div>
          </div>
        </div>
      </ng-template>
    </div>

    <ng-template [ngIf]="concert$?.scheduleImageFile != undefined">
      <div class="row justify-content-center mt-4 mb-5">
        <div class="col-xxl-8 col-xl-9 col-lg-10 col-md-12 col-sm-12 col-xs-12">
          <div class="card w-100" style="width: 18rem;">
            <div class="card-header">
              Official Schedule
            </div>
            <div class="card-body text-center">
              <img width="100%" src="{{ environment.imageBaseUrl + '/' + concert$?.scheduleImageFile! }}" alt="Official schedule announcement" />
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>

  <br />

  <ng-container #mapContainer *ngIf="concert$?.venueLatitude != 0 && concert$?.venueLongitude != 0">
    <h3>Venue location</h3>
    <div id="venueMap" class="map"></div>
  </ng-container>
</ng-template>

