<div class="card">
  <div class="card-header">
    @if (setlist?.setName) {
      Setlist: {{ setlist?.setName }}
    } @else {
      Setlist
    }
  </div>
  <div class="card-body edit-form-card">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"></th>
        <th scope="col">Song</th>
        <th scope="col">Notes</th>
      </tr>
      </thead>
      <tbody>
        @for (structuredEntry of setlist?.structuredEntries; track structuredEntry) {
          @if (isAct(structuredEntry)) {
            <tr>
              <td>Act {{ structuredEntry.actNumber }}</td>
              <td></td>
              <td>{{ structuredEntry.title }}</td>
              <td></td>
            </tr>

            @for (entry of structuredEntry.entries; track entry) {
              <tr [class]="entry.isWorldPremiere ? 'table-success' : ''">
                <td class="text-end">&nbsp;&nbsp;{{ entry.songNumber == 0 ? "" : entry.songNumber }}.</td>
                <td><app-setlist-entry-icons [record-tape]="entry.isPlayedFromRecording" /></td>
                @if ("linkinpediaUrl" in entry && entry.linkinpediaUrl) {
                  <td>&nbsp;&nbsp;<a [href]="entry.linkinpediaUrl" target="_blank" class="link-info">{{ entry.title }}</a> <app-setlist-entry-icons [rotation-song]="entry.isRotationSong" [world-premiere]="entry.isWorldPremiere" /></td>
                } @else {
                  <td>&nbsp;&nbsp;{{ entry.title }} <app-setlist-entry-icons [rotation-song]="entry.isRotationSong" [world-premiere]="entry.isWorldPremiere" /></td>
                }
                <td style="font-style: italic">&nbsp;&nbsp;{{ entry.extraNotes }}</td>
              </tr>
            }
          } @else {
            <tr [class]="structuredEntry.isWorldPremiere ? 'table-success' : ''">
              <td>{{ structuredEntry.songNumber == 0 ? "" : `${structuredEntry.songNumber}}.` }}</td>
              <td><app-setlist-entry-icons [record-tape]="structuredEntry.isPlayedFromRecording" /></td>
              @if (structuredEntry.linkinpediaUrl) {
                <td><a [href]="structuredEntry.linkinpediaUrl" target="_blank" class="link-info">{{ structuredEntry.title }}</a> <app-setlist-entry-icons [rotation-song]="structuredEntry.isRotationSong" [world-premiere]="structuredEntry.isWorldPremiere" /></td>
              } @else {
                <td>{{ structuredEntry.title }} <app-setlist-entry-icons [rotation-song]="structuredEntry.isRotationSong" [world-premiere]="structuredEntry.isWorldPremiere" /></td>
              }
              <td style="font-style: italic">{{ structuredEntry.extraNotes }}</td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
</div>
