<div class="card">
  <div class="card-header">
    {{ setlistTitle$ }}
  </div>
  <div class="card-body edit-form-card">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Song</th>
        <th scope="col">Notes</th>
      </tr>
      </thead>
      <tbody>
        @for (structuredEntry of setlist?.structuredEntries; track structuredEntry) {
          @if (isAct(structuredEntry)) {
            <tr>
              <td>Act {{ structuredEntry.actNumber }}</td>
              <td>{{ structuredEntry.title }}</td>
              <td></td>
            </tr>

            @for (entry of structuredEntry.entries; track entry) {
              <tr>
                <td>&nbsp;&nbsp;{{ entry.songNumber == 0 ? "" : entry.songNumber }}</td>
                <td>&nbsp;&nbsp;{{ entry.title }}</td>
                <td>&nbsp;&nbsp;{{ entry.extraNotes }}</td>
              </tr>
            }
          } @else {
            <tr>
              <td>{{ structuredEntry.songNumber == 0 ? "" : structuredEntry.songNumber }}</td>
              <td>{{ structuredEntry.title }}</td>
              <td>{{ structuredEntry.extraNotes }}</td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
</div>
