<h1>Linkin Park Concert Calendar</h1>
<p>Want too keep track of the From Zero World Tour? Subscribe to the iCal-feed that contains all the concerts, so you never miss a show. <a [routerLink]="['/about']" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">More information...</a> </p>

<ngb-alert *ngIf="newFeatureAlertDismissedToken != currentNewFeatureAlertToken && !isLoggedIn$" (closed)="onNewFeatureAlertClosed()" type="info" role="alert">
  New feature: You can now <a href="javascript:void(0)" (click)="login()">sign up</a> and bookmark shows you want to see on the start page.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</ngb-alert>

<div class="row row-cols-xxl-4 row-cols-xl-3 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-1 gy-4 gx-4">
  <div class="col">
    <app-concert-card cardTitle="Next Concert"
                      [concert]="nextConcert"
                      [isLoading]="isLoadingNextConcert"
                      notFoundAlertClass="info"
                      notFoundAlertText="No upcoming concert found."
    />
  </div>

  <div class="col" *ngIf="isLoggedIn$">
    <app-concert-card cardTitle="The next concert you follow"
                      [concert]="nextBookmarkedConcert"
                      [isLoading]="isLoadingBookmarkedConcert"
                      notFoundAlertClass="info"
                      notFoundAlertText="You have not bookmarked any upcoming concerts. You can bookmark a concert on its detail page."
    />
  </div>

  <div class="col" *ngIf="isLoggedIn$">
    <app-concert-card cardTitle="The next concert you attend! 🎉"
                      [concert]="nextAttendingConcert"
                      [isLoading]="isLoadingAttendingConcert"
                      notFoundAlertClass="info"
                      notFoundAlertText="You have no upcoming concerts. If you plan to attend a concert, find it on this site and click the 'Ticket'-button."
    />
  </div>

  <div class="col">
    <div class="card w-100" style="width: 18rem;">
      <div class="card-header">
        Calendar feed
      </div>
      <div class="card-body">
        <h5 class="card-title">Subscribe to calendar feed</h5>
        You can build your <b>custom calendar subscription</b>. This will generate a feed that your calendar app can subscribe to, so you'll always see the Linkin Park shows in your calendar.

        <hr/>
        <app-calendar-feed-builder (feed-url)="onFeedUrlUpdated($event)"></app-calendar-feed-builder>
      </div>
      <div class="card-footer text-end">
        <div class="btn-group" role="group">
          <button class="btn btn-info" (click)="subscribeCustomBtnClicked()">
            <i class="bi bi-calendar-plus"></i> Add to calendar
          </button>
          <div class="btn-group" role="group">
            <button class="btn btn-info dropdown-toggle" id="iCalFeedDropdownBtn" data-bs-toggle="dropdown" aria-expanded="false">
            </button>
            <ul class="dropdown-menu" aria-labelledby="iCalFeedDropdownBtn">
              <li>
                <a class="dropdown-item" href="javascript:void(0)" (click)="subscribeCustomBtnClicked()">Subscribe</a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0)" (click)="copyFeedUrlBtnClicked()">Copy Link</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card w-100" style="width: 18rem;">
      <div class="card-header">
        Concerts
      </div>
      <div class="card-body">
        <h5 class="card-title">View concert list</h5>
        <p class="card-text">You can check out the list of all concerts we currently track on this website. Please note that this is <b>maintained by fans</b> and is <b>not official information</b>!</p>
      </div>
      <div class="card-footer text-end">
        <a [routerLink]="['/concerts']" class="btn btn-outline-info"><i class="bi-list-ul"></i> Check concert list</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card w-100" style="width: 18rem;">
      <div class="card-header">
        Map
      </div>
      <div class="card-body">
        <h5 class="card-title">View world tour map</h5>
        <p class="card-text">On the map, you can find all concerts of the tour to find out, where your closest show is. And what parts of the world have the most shows nearby.</p>
      </div>
      <div class="card-footer text-end">
        <a [routerLink]="['/map']" class="btn btn-outline-info"><i class="bi-map"></i> View map</a>
      </div>
    </div>
  </div>
</div>
