<h1>Linkin Park Concert Calendar</h1>
<p>Want too keep track of the From Zero World Tour? Subscribe to the iCal-feed that contains all the concerts, so you never miss a show. <a [routerLink]="['/about']" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">More information...</a> </p>


<div class="row row-cols-xxl-4 row-cols-xl-3 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1 gy-4 gx-4">
  <div class="col">
    <app-concert-card [concert]="nextConcert" />
  </div>

  <div class="col">
    <div class="card w-100" style="width: 18rem;">
      <div class="card-header">
        Calendar feed
      </div>
      <div class="card-body">
        <h5 class="card-title">Subscribe to calendar feed</h5>
        <p class="card-text">
          To subscribe to the calendar, you need to use the following URL: <code>{{environment.apiCachedBaseUrl}}/Prod/feed/ical</code>
          <br/>
          You can enter this URL in most calendar applications. The application will periodically refresh the calendar to get any changes in the schedule.
        </p>
      </div>
      <div class="card-footer text-end">
        <button class="btn btn-info " (click)="subscribeBtnClicked()"><i class="bi bi-calendar-plus"></i> Add to calendar</button>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card w-100" style="width: 18rem;">
      <div class="card-header">
        Concerts
      </div>
      <div class="card-body">
        <h5 class="card-title">View concert list</h5>
        <p class="card-text">You can check out the list of all concerts we currently track on this website. Please note that this is <b>maintained by fans</b> and is <b>not official information</b>!</p>
      </div>
      <div class="card-footer text-end">
        <a [routerLink]="['/concerts']" class="btn btn-outline-info"><i class="bi-list-ul"></i> Check concert list</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card w-100" style="width: 18rem;">
      <div class="card-header">
        Map
      </div>
      <div class="card-body">
        <h5 class="card-title">View world tour map</h5>
        <p class="card-text">On the map, you can find all concerts of the tour to find out, where your closest show is. And what parts of the world have the most shows nearby.</p>
      </div>
      <div class="card-footer text-end">
        <a [routerLink]="['/map']" class="btn btn-outline-info"><i class="bi-map"></i> View map</a>
      </div>
    </div>
  </div>
</div>
