<h1>Legal Notice</h1>
<p>
  Information obligation according to §5 E-Commerce Act and disclosure obligation according to §25 Media Act
</p>
<p>
  {{ environment.imprintData.name }}<br />
  {{ environment.imprintData.addressLine1 }}<br />
  {{ environment.imprintData.addressLine2 }}<br />
  {{ environment.imprintData.city }}<br />
  {{ environment.imprintData.country }}
</p>
<p>
  E-Mail: {{ environment.imprintData.email }}
</p>
<div>
  <h2>
    Disclaimer for External Links
  </h2>
  <p>
    This website, like many other websites, contains so-called links to other, external websites and content. This is considered a fundamental concept of the internet and global information exchange. Legally and technically, as the operators of our website, we have no influence on the design or content of the linked websites. For this reason, we cannot accept any liability or guarantee for these websites at any time, as they fall under the responsibility of their respective operators.
  </p>
  <p>
    At the time of linking, the external content was checked for functionality, illegal content, and, to the best of our ability, for malware. As an indication, you may find a timestamp on some links showing the time the link was created. Nevertheless, we strive to protect our visitors from illegal content and malware, which is why we conduct spot checks of the set links at recurring intervals. In the event of any legal violations, the links in question will of course be removed immediately.</p><p>If you have found such a link before our review, we ask you to notify us immediately using the contact information provided in the legal notice. Please provide us with the link on our website that contains the questionable reference, as well as the type of issue (a) illegal content, b) malware, or c) inactive content or reference).
  </p>
</div>

<br />

<div>
  <h2>
    Your Rights
  </h2>
  <p>
    You have the right to access, correct, delete, restrict, transfer your data, and the right to withdraw or object regarding the data stored with us. If you believe that the processing of your data violates data protection laws or that your data protection rights have otherwise been infringed, you can file a complaint with the above-mentioned email address or your data protection authority.
  </p>
</div>
