<h1>User</h1>

@if (isLoading$) {
  <div class="text-center">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading users...
  </div>
} @else {
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">E-Mail</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      @for (user of users$; track user) {
        <tr class="align-middle">
          <th scope="row">{{ user.username }}</th>
          <td>{{ user.email }} @if (user.emailVerified) {
            <i class="bi bi-patch-check-fill text-success" ngbTooltip="verified"></i>
          }</td>
          <td class="text-end">
            <button class="btn btn-primary" [routerLink]="[user.id]"><i class="bi bi-pencil"></i>&nbsp;Edit</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
}

<!-- Loading spinner while API request is running -->

<!-- List of concerts -->
